/**
 * A dropdown widget with typeahead
 */
.widget--dropdown {
    display: flex;
    position: relative;
    max-width: 20rem;
    min-width: 10rem;
    flex-grow: 1;
    background-color: $standard;
    border-radius: 0.2rem;
    border: 1px solid $standard-dark;
    user-select: none;

    // Small
    &.small {
        max-width: 2rem;
        width: 2rem;
    }
   
    // Right + bottom modes
    &.right {
        .widget--dropdown__options {
            transform: translateX(calc(-100% + 3rem));
        }
    }

    &.bottom {
        .widget--dropdown__options {
            transform: translateY(-100%);
        }
    }
    
    &.bottom.right {
        .widget--dropdown__options {
            transform: translate(-100%, -100%);
        }
    }

    // Icon mode
    &.has-icon {
        min-width: 0;
        max-width: 2rem;
        width: 2rem;
        height: 2rem;
        border: 0;

        &:hover {
            .widget--dropdown__value {
                background-color: $primary;
                color: $primary-text;
            }
        }
      
        // Right mode
        &.right .widget--dropdown__options:before {
            left: auto;
            right: 0.5rem;
        }

        // Inside group
        .widget-group & .widget--dropdown__value {
            border-radius: 0;
        }
        
        .widget-group &:first-child .widget--dropdown__value {
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }

        .widget-group &:last-child .widget--dropdown__value {
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }

        .widget--dropdown__value {
            border-radius: 50%;
            padding: 0;
            width: 100%;
            height: 2rem;
            line-height: 2rem;
        }
        
        .widget--dropdown__options {
            top: 3.5rem;
            left: -0.5rem;
            max-height: none;
            overflow: visible;
            width: 10rem;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;

            // Arrow
            &:before {
                position: absolute;
                content: '';
                display: block;
                left: 0.5rem;
                bottom: 100%;
                width: 0; 
                height: 0; 
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
                border-bottom: 1rem solid $primary;
            }
        }
    }

    // Context menu mode
    &.context-menu {
        min-width: 0;
        width: 16rem;
        position: absolute;
        z-index: 1200;
        border: 0;

        .widget--dropdown__value {
            display: none;
        }

        .widget--dropdown__options {
            top: 0;
            max-height: none;
            padding: 1rem;
        }
    }

    // Value
    &__value {
        height: calc(2rem - 2px);
        width: calc(100% - 2rem);
        line-height: calc(2rem - 2px);
        padding: 0 0.5rem;
        color: $standard-text;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        user-select: none;

        // Tool icon
        &__tool-icon {
            text-align: center;
            height: 2rem;
            line-height: 2rem;
            width: 2rem;
            display: block;
        }

        // Value icon
        &__icon {
            display: inline-block;
            width: 2rem;
            line-height: 2rem;
            margin-left: -0.5rem;
            margin-right: 0.5rem;
            text-align: center;
        }
    }

    // Toggle
    &__toggle {
        position: absolute;
        user-select: none;
        opacity: 0;
        top: 0;
        left: 0;
        display: block;
        margin: 0 !important;
        width: calc(100% - 2rem);
        height: 100%;
        cursor: pointer;
        z-index: 20;

        .has-icon & {
            width: 2rem;
        }
    }

    // Toggle active
    &__toggle:checked {
        position: fixed;
        z-index: 900;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        cursor: auto;
    }

    &__toggle:checked ~ &__options,
    &__toggle:checked ~ &__typeahead,
    &__toggle:checked ~ &__typeahead__icon {
        display: block;
    }
    
    // Typeahead
    &__typeahead {
        display: none;
        position: absolute;
        line-height: 2rem;
        width: 100%;
        border: 0;
        border-top-right-radius: 0.2rem;
        border-top-left-radius: 0.2rem;
        top: 0;
        left: 0;
        height: 2rem;
        padding: 0 0.5rem;
        z-index: 910;

        &__icon {
            position: absolute;
            z-index: 920;
            opacity: 0.5;
            display: block;
            line-height: 2rem;
            width: 2rem;
            height: 2rem;
            pointer-events: none;
            right: 0;
            top: 0;
            text-align: center;
            display: none;
        }
    }

    // Separator
    &__separator {
        opacity: 0.75;
        margin: 1rem 0 0.5rem 0;
        text-transform: uppercase;
        color: $secondary;
        font-weight: bold;
        user-select: none;
        
        &:first-child {
            margin-top: 0;
        }
    }

    // Options
    &__options {
        border-bottom-right-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
        box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1); 
        z-index: 910;
        display: none;
        position: absolute;
        top: 2rem;
        left: 0;
        border: 1px solid $primary;
        background-color: $standard;
        width: 100%;
        max-height: 10rem;
        overflow-y: auto;
        user-select: none;
    }
        
    // Option
    &__option {
        line-height: 2rem;
        padding: 0 0.5rem;
        text-align: left;
        border: 0;
        display: block;
        width: 100%;
        background: transparent;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: $primary;
            color: $primary-text;
        }

        &.hidden {
            display: none;
        }

        &.selected {
            padding-right: 2rem;    

            &::after {
                display: block;
                line-height: 2rem;
                width: 2rem;
                text-align: center;
                right: 0;
                top: 0;
                position: absolute;
                font-family: 'FontAwesome';
                content: '\f00c';
            }
        }
        
        // Icon
        &__icon {
            display: inline-block;
            width: 2rem;
            line-height: 2rem;
            margin-left: -0.5rem;
            margin-right: 0.5rem;
            text-align: center;
        }
    }

    // Clear button
    &__clear {
        border: 0;
        height: 2rem;
        line-height: 2rem;
        display: block;
        padding: 0 0.5rem;
        position: absolute;
        z-index: 5;
        background: transparent;
        right: 0;
        top: 0;
        color: $primary;
        transition: color 0.3s ease, background-color 0.3s ease;
        border-top-right-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;

        &:hover {
            color: $primary-text;
            background-color: $primary;
        }
    }
}
