/**
 * A versatile input widget
 */
.widget--input {
    display: block;
    line-height: 2rem;

    // Tall mode
    &.tall {
        line-height: 3rem;
    }

    // Text-like inputs
    &.text,
    &.textarea,
    &.password,
    &.number {
        border-radius: 0.2rem;
        border: 2px solid $standard-dark;
        padding: 0 0.5rem;
        height: 2rem;
        width: 100%;

        &.textarea {
            resize: none;
            min-height: 10rem;
        }

        &:not(.textarea) {
            max-width: 20rem;
        }

        // Expanded mode
        &.expanded {
            max-width: 100%;
        }

        // Tall mode
        &.tall {
            height: 3rem;
        }

        &:focus {
            outline: none;
            border-color: $primary;
        }
    }

    // File
    &.file {
        margin-bottom: 0;
    }

    &__file {
        &-input {
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }

        &-browse {
            text-align: left;
        }

        &-submit {
            max-width: 10rem;
        }

        &-input:hover + &-browse {
            background-color: $primary-dark;
        }
    }

    // Range
    &.range {
        max-width: 20rem;
    }

    &__range {
        &-input {
            // Reset
            -webkit-appearance: none;
            width: 100%;
            background-color: transparent;
            line-height: 2rem;
            height: 2rem;

            &:focus {
                outline: none;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
            }

            &::-ms-track {
                width: 100%;
                cursor: pointer;
                background-color: transparent;
                border-color: transparent;
                color: transparent;
            }

            // Thumb
            @mixin thumb {
                border: 0;
                background-color: $primary;
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                cursor: pointer;
                transform: scale(3);
            }

            &::-webkit-slider-thumb { @include thumb; }
            &::-moz-range-thumb { @include thumb }
            &::-ms-thumb { @include thumb; }

            // Track
            @mixin track {
                width: 100%;
                height: 0.5rem;
                border-radius: 0.25rem;
                background-color: $standard-darker;
            }

            &::-webkit-slider-runnable-track { @include track; }
            &::-moz-range-track { @include track; }
            &::-ms-track { @include track; }
        }

        &-extra {
            position: absolute;
            left: calc(100% + 0.5rem);
            top: 0;
            height: 2rem;
            line-height: 2rem;
            text-align: center;
            font-weight: bold;
            width: 2rem;
            overflow: hidden;
        }
    }

    // Checkbox
    &.checkbox {
        width: 2rem;
        flex-basis: 2rem;
        height: 2rem;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 0.2rem;
        margin: 0;

        &.working {
            &:after {
                color: $primary-text;
            }
        }
    }

    &__checkbox {
        &-input, &-switch, &-background {
            position: absolute;
            margin: 0 !important;
        }

        &-label {
            line-height: 2rem;
            display: block;
            height: 2rem;
            min-height: 0 !important;
            padding-left: 0.5rem !important;
            padding-right: 0.5rem;
            margin-bottom: 0 !important;
            cursor: pointer;
            font-weight: 400;
            background-color: $primary;
            color: $primary-text;
            max-width: none !important;
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
            position: absolute;
            white-space: nowrap;
            left: 4rem;
            border-left: 2px solid $primary-text;

            &:hover {
                background-color: $primary-dark;
            }
        }

        &-input {
            cursor: pointer;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &-background {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $standard-darker;
            pointer-events: none;
            border-radius: inherit;
            transition: background-color 0.33s ease;
        }

        &-switch {
            top: 0.2rem;
            left: 0.2rem;
            width: 0.8rem;
            height: 1.6rem;
            pointer-events: none;
            border-radius: 0.2rem;
            transition: transform 0.33s ease;
            background-color: $standard;
        }

        &-input:checked ~ &-switch {
            transform: translateX(0.8rem);
        }

        &-input:checked ~ &-background {
            background-color: $primary;
        }
    }
}
