/**
 * A generic label
 */
.widget--label {
    line-height: 2rem;
    height: 2rem;
    display: block;
    flex-grow: 1;
    margin: 0;
    background-color: $standard-dark;
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    > .fa {
        margin-right: 0.5rem;
    }

    &.small {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10rem;
        max-width: 10rem;
    }

    &.warning {
        background-color: $warning;
        color: $warning-text;
    }
    
    &.primary {
        background-color: $primary;
        color: $primary-text;
    }
    
    &.secondary {
        background-color: $secondary;
        color: $secondary-text;
    }

    &.standard {
        background-color: $standard;
        color: $standard-text;
    }
}
