/**
 * A notification message
 */
.widget--message {
    position: absolute;
    top: 4rem;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
    background-color: $warning;
    font-weight: 700;
    z-index: 900;
}
