/**
 * A spinner for loading
 */
@keyframes widget--spinner__image {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

.widget--spinner {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);

    &.hidden {
        display: block !important;
        opacity: 0;
        pointer-events: none;
    }

    &.embedded {
        position: absolute;
    }

    &__inner {
        position: absolute;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
    }

    &__image {
        position: absolute;
        display: block;
        width: 8rem;
        height: 8rem;
        text-align: center;
        line-height: 8rem;
        color: $secondary;
        font-size: 2rem;
        top: 50%;
        left: calc(50% - 8rem);
        transform: translate(-50%, -50%);
        animation-name: widget--spinner__image;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    &__messages {
        left: calc(50% - 3rem);
        top: 50%;
        position: absolute;
        transform: translate(0%, -50%);
        border-left: 1px solid $primary;
    }
    
    &__message {
        position: relative;
        width: 180px;
        transition: color 0.25s ease;
        padding: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: $primary;

        &:before {
            content: '';
            display: block;
            background-color: $primary;
            width: 0%;
            height: 100%;
            transition: width 0.25s ease;
            top: 0%;
            left: 0%;
            position: absolute;
            z-index: -1;
        }

        &.loaded {
            color: $primary-text;

            &:before {
                width: 100%;
            }
        }
    }
}
