/**
 * A generic widget
 */
@keyframes widget__spinner {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.widget {
    position: relative;
    text-align: inherit;
    font-size: inherit;

    // Group
    &-group {
        display: flex;

        &.vertical {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        > .widget {
            border-radius: 0 !important;

            &--input,
            &--dropdown {
                flex-grow: 1;
                flex-basis: 100%;
                max-width: 100% !important;
            }

            &--label {
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 10rem;
                width: 10rem;
                min-width: 10rem;
            }
        }

        &:not(.vertical) > .widget {
            &:first-child {
                border-top-left-radius: 0.2rem !important;
                border-bottom-left-radius: 0.2rem !important;
            }
            
            &:last-child {
                border-top-right-radius: 0.2rem !important;
                border-bottom-right-radius: 0.2rem !important;
            }
        }
        
        &.vertical > .widget {
            &:first-child {
                border-top-left-radius: 0.2rem !important;
                border-top-right-radius: 0.2rem !important;
            }
            
            &:last-child {
                border-bottom-left-radius: 0.2rem !important;
                border-bottom-right-radius: 0.2rem !important;
            }
        }

        &__separator {
            user-select: none;
            pointer-events: none;
            position: relative;

            &:not(.line) {
                min-width: 2rem !important;
                padding: 0 0.5rem;
            }

            &.line {
                background-color: $standard-darker;
                width: 1px;
                height: 2rem;
            }
        }
    }

    // Notifier
    &__notifier {
        position: absolute;
        line-height: 1.5rem;
        min-width: 1.5rem;
        height: 1.5rem;
        display: block;
        top: -0.75rem;
        right: calc(100% - 0.75rem);
        background-color: $primary;
        color: $primary-text;
        border-radius: 1rem;
        text-align: center;
        font-size: 0.7rem;
        font-weight: bold;
        white-space: nowrap;
        padding: 0 0.3rem;
    }

    // Working state
    &.working {
        pointer-events: none;
        cursor: not-allowed;

        &:after {
            font-family: 'FontAwesome';
            content: '\f1ce';
            position: absolute;
            right: 0rem;
            top: 50%;
            z-index: 10;
            display: block;
            animation: widget__spinner 1s linear infinite;
        }
    }

    // Disabled state
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    // Hidden
    &.hidden {
        display: none;
    }
}
