/**
 * A generic widget
 */
@keyframes widget__spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.widget {
    position: relative;

    // Group
    &-group {
        display: flex;

        .widget {
            border-radius: 0;

            &:first-child {
                border-top-left-radius: 0.2rem;
                border-bottom-left-radius: 0.2rem;
            }
            
            &:last-child {
                border-top-right-radius: 0.2rem;
                border-bottom-right-radius: 0.2rem;
            }
        }

        &__separator {
            min-width: 0 !important;
            padding: 0 0.5rem;
            user-select: none;
            pointer-events: none;
        }
    }

    // Working state
    &.working {
        &:after {
            font-family: 'FontAwesome';
            content: '\f1ce';
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -1rem;
            width: 2rem;
            line-height: 2rem;
            height: 2rem;
            text-align: center;
            z-index: 10;
            animation: widget__spinner 1s linear infinite;
        }
    }
}
