[submodule "public/lib/crisp-ui"]
	path = public/lib/crisp-ui
	url = https://github.com/Putaitu/crisp-ui.git
[submodule "public/lib/normalize"]
	path = public/lib/normalize
	url = https://github.com/necolas/normalize.css.git
