.field-editor.rich-text-editor.panel.panel-default
    .panel-heading
        .btn-group
            button.btn.btn-default(data-wrap="strong")
                span.fa.fa-bold
            button.btn.btn-default(data-wrap="em")
                span.fa.fa-italic
    .panel-body
        .rte-output
    .panel-footer
        textarea.form-control(type="text")
            | !{value}
