.modal.media-browser {
    &.disabled {
        pointer-events: none;

        .modal-dialog {
            background-color: #fff;
                
            >div {
                opacity: 0.5;
            }
        }
    }

    .modal-dialog {
        width: calc(100% - 30px);
        max-width: 1040px;

        .modal-footer {
            .form-control {
                float: left;
            }
        }

        .modal-body {
            padding: 0;

            iframe {
                border: 0;
                width: 100%;
                min-height: 70vh;
                display: block;
            }
        }
    }
}
