extends ./dashboard

block content
    .navbar.navbar-default
        .container
            ul.nav.navbar-nav
                li.navbar-btn
                    .btn-group
                        a.btn.btn-default(href='/repos/')
                            span.glyphicon.glyphicon-arrow-left
                            |  Repos
                        a.btn.btn-default(href='/repos/' + name + '/contributors/')
                            span.glyphicon.glyphicon-user
                            |  Contributors
                        a.btn.btn-default(href='/repos/' + name + '/issues/')
                            span.glyphicon.glyphicon-th-list
                            |  Issues
                        a.btn.btn-default(href='/repos/' + name + '/settings/')
                            span.glyphicon.glyphicon-cog
                            |  Settings
            ul.nav.navbar-nav.navbar-right
                li.navbar-btn
                    .input-group
                        span.input-group-addon
                            | git
                        input.form-control(type='text', value='https://github.com')

    .container.dashboard-container.issues-container(data-repo=name)
