extends ./dashboard

block content
    .navbar.navbar-default
        .container
            ul.nav.navbar-nav
                li.navbar-btn
                    .btn-group
                        a.btn.btn-default(href='/')
                            span.glyphicon.glyphicon-arrow-left
                            |  Logout
    .container.dashboard-container
        .row
            .col-md-4
                .panel.panel-primary
                    .panel-heading
                        h4.panel-title putaitu.github.io
                    .panel-body
                        p Repo description
                        a.btn.btn-primary.center-block(href='/repos/putaitu.github.io/') Open
