extends ./index.jade

block style
    style.
        body {
            height: 100%;
        }

        .container {
            height: 100%;
            max-width: 600px;
            position: relative;
        }

        .panel {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        input {
            margin-top: 15px;
        }

        input:first-child {
            margin-top: 0px;
        }

block content
    .container
        .panel.panel-primary
            .panel-heading
                h4.panel-title
                    | Putaitu CMS
            .panel-body
                form(action='/repos/')
                    input.form-control(type=text, placeholder='Username')
                    input.form-control(type=password, placeholder='Password')
                    input.form-control.btn.btn-primary(type='submit', value='Login')
