html, body {
  height: 100%; }

.btn, .btn:focus, .btn:hover, .btn:active, .btn:active:focus {
  outline: none; }

.flex-vertical {
  display: flex;
  flex-direction: column; }
  .flex-vertical .flex-expand {
    flex-grow: 1; }

.flex-horizontal {
  display: flex;
  flex-direction: row; }
  .flex-horizontal .flex-expand {
    flex-grow: 1; }

.putaitu-cms-container {
  display: flex;
  height: 100%; }
  .putaitu-cms-container .navspace {
    width: 300px;
    height: 100%; }
  .putaitu-cms-container .workspace {
    flex-grow: 1;
    height: 100%; }

.json-editor {
  width: 100%;
  height: 100%; }
  .json-editor textarea {
    overflow: auto;
    display: block; }

.navbar-main {
  display: flex;
  height: 100%;
  width: 100%; }
  .navbar-main .tab-buttons {
    width: 60px;
    height: 100%;
    background-color: #333333; }
    .navbar-main .tab-buttons .btn {
      width: 60px;
      height: 60px;
      background-color: #333333;
      color: #f1f1f1;
      padding: 0px;
      margin: 0px;
      border-radius: 0px;
      margin-bottom: 1px; }
      .navbar-main .tab-buttons .btn.active, .navbar-main .tab-buttons .btn:hover {
        background-color: #111111; }
      .navbar-main .tab-buttons .btn .fa {
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        width: 100%;
        display: block; }
      .navbar-main .tab-buttons .btn p {
        margin: 0px;
        font-size: 10px;
        height: 20px;
        line-height: 20px; }
  .navbar-main .tab-panes {
    height: 100%;
    flex-grow: 1;
    background-color: #eeeeee; }
    .navbar-main .tab-panes .pane {
      margin: 0px;
      height: 100%;
      width: 100%;
      display: none; }
      .navbar-main .tab-panes .pane.active {
        display: block; }
      .navbar-main .tab-panes .pane .pane-item p {
        margin: 0px; }
