/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
html, body {
  height: 100%;
  font-family: 'Roboto';
  font-size: 12px; }

button, button:focus, button:hover, button:active, button:active:focus, a, a:focus, a:hover, a:active, a:active:focus {
  outline: none !important; }

/**
 * Colour a button
 */
.modal .modal-dialog {
  max-width: 500px; }
  .modal .modal-dialog .modal-content {
    border-radius: 0px; }
    .modal .modal-dialog .modal-content .modal-header {
      border-bottom: 0px; }
    .modal .modal-dialog .modal-content .modal-footer {
      border-top: 0px; }
      .modal .modal-dialog .modal-content .modal-footer .btn {
        background-color: transparent;
        border: 0px;
        color: #2196f3; }

.form-control, .form-control:active, .form-control:focus {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  border-bottom: 2px solid #2196f3;
  padding-left: 0px;
  padding-right: 0px; }

.input-group .input-group-addon {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  border: 0px; }

.input-group .input-group-btn {
  padding-left: 15px; }

.context-menu {
  border-radius: 0px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2); }

.btn {
  border-radius: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }
  .btn.btn-primary {
    background-color: #2196f3;
    border-color: #2196f3; }
    .btn.btn-primary:hover {
      background-color: #42a5f5;
      border-color: #42a5f5; }
    .btn.btn-primary:active {
      background-color: #1e88e5;
      border-color: #1e88e5; }
  .btn.btn-danger {
    background-color: #f44336;
    border-color: #f44336; }
    .btn.btn-danger:hover {
      background-color: #ef5350;
      border-color: #ef5350; }
    .btn.btn-danger:active {
      background-color: #e53935;
      border-color: #e53935; }
  .btn.btn-success {
    background-color: #4caf50;
    border-color: #4caf50; }
    .btn.btn-success:hover {
      background-color: #66bb6a;
      border-color: #66bb6a; }
    .btn.btn-success:active {
      background-color: #43a047;
      border-color: #43a047; }
  .btn:active {
    box-shadow: none; }
  .btn.btn-raised {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -2px; }
    .btn.btn-raised:active {
      top: 0px;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2); }

.btn-group {
  display: flex; }
  .btn-group:after {
    content: '';
    clear: both; }
  .btn-group .btn {
    display: block;
    flex-grow: 1; }

.form-control.disabled {
  pointer-events: none;
  opacity: 0.5; }

.nav-tabs {
  padding: 18px 0px 0px 15px;
  background-color: #2196f3;
  font-size: 14px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase; }
  .nav-tabs li:not(.active) a {
    color: #e3f2fd; }
    .nav-tabs li:not(.active) a, .nav-tabs li:not(.active) a:hover, .nav-tabs li:not(.active) a:focus {
      background-color: transparent;
      border: 0px; }
  .nav-tabs li a {
    border-radius: 0px; }

.switch {
  width: 30px;
  height: 10px;
  background-color: #bdbdbd;
  position: relative;
  border-radius: 50px; }
  .switch label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 10%;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 50px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease;
    transform: translate(-50%, -50%); }
  .switch input[type=checkbox] {
    visibility: hidden; }
    .switch input[type=checkbox]:checked + label {
      left: 90%;
      background-color: #2196f3; }

.flex-vertical {
  display: flex;
  flex-direction: column; }
  .flex-vertical .flex-expand {
    flex-grow: 1; }

.flex-horizontal {
  display: flex;
  flex-direction: row; }
  .flex-horizontal .flex-expand {
    flex-grow: 1; }

.about-logo {
  color: #4caf50; }

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(359deg); } }

.spinner-obscure {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.spinner-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.5); }
  .spinner-container .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block;
    font-size: 32px; }

.modal-upload-media .modal-body .spinner-container {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px; }

.modal-upload-media .modal-body img, .modal-upload-media .modal-body video {
  display: block;
  max-height: 200px;
  max-width: 100%;
  margin: 0px auto; }

.cms-container {
  display: flex;
  height: 100%; }
  .cms-container .navspace {
    width: 500px;
    height: 100%; }
  .cms-container .workspace {
    flex-grow: 1;
    height: 100%; }
    .cms-container .workspace .dashboard-container {
      padding: 30px;
      height: 100%;
      overflow-y: auto; }
    .cms-container .workspace .editor .field-container {
      display: flex;
      margin-bottom: 15px; }
      .cms-container .workspace .editor .field-container .field-key {
        width: 200px;
        line-height: 30px; }
      .cms-container .workspace .editor .field-container .field-value {
        flex-grow: 1; }
        .cms-container .workspace .editor .field-container .field-value button {
          line-height: 20px;
          text-transform: uppercase;
          font-weight: bold;
          padding-left: 30px;
          padding-right: 30px; }
        .cms-container .workspace .editor .field-container .field-value input, .cms-container .workspace .editor .field-container .field-value select, .cms-container .workspace .editor .field-container .field-value option, .cms-container .workspace .editor .field-container .field-value textarea, .cms-container .workspace .editor .field-container .field-value p {
          font-size: 14px; }
        .cms-container .workspace .editor .field-container .field-value select option {
          padding: 5px; }
        .cms-container .workspace .editor .field-container .field-value .date-editor {
          height: 30px; }
          .cms-container .workspace .editor .field-container .field-value .date-editor p {
            line-height: 30px;
            margin: 0px; }
        .cms-container .workspace .editor .field-container .field-value .period-editor .input-group {
          width: 300px; }
          .cms-container .workspace .editor .field-container .field-value .period-editor .input-group input {
            text-align: center; }
        .cms-container .workspace .editor .field-container .field-value .period-editor .arrow-middle {
          padding: 5px; }
          .cms-container .workspace .editor .field-container .field-value .period-editor .arrow-middle span {
            line-height: 20px; }
        .cms-container .workspace .editor .field-container .field-value .rich-text-editor {
          margin: 0px; }
          .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output {
            height: 300px;
            overflow-y: auto; }
            .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h1:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h2:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h3:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h4:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h5:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h6:first-child {
              margin-top: 0px; }
          .cms-container .workspace .editor .field-container .field-value .rich-text-editor textarea {
            height: 200px;
            resize: none;
            overflow: hidden; }
    .cms-container .workspace .panel-danger {
      margin: 0px; }
    .cms-container .workspace .panel-buttons {
      padding: 15px;
      margin: 0px;
      border-width: 0px;
      border-top-width: 1px;
      border-radius: 0px; }
      .cms-container .workspace .panel-buttons .btn-group {
        float: right; }
        .cms-container .workspace .panel-buttons .btn-group .btn {
          line-height: 20px;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 15px;
          width: 110px; }
          .cms-container .workspace .panel-buttons .btn-group .btn:last-child {
            margin-right: 0px; }
          .cms-container .workspace .panel-buttons .btn-group .btn span {
            line-height: 20px; }
            .cms-container .workspace .panel-buttons .btn-group .btn span.fa {
              font-size: 18px; }
      .cms-container .workspace .panel-buttons .btn-save .text-saving {
        display: none; }
      .cms-container .workspace .panel-buttons .btn-save.saving .text-default {
        display: none; }
      .cms-container .workspace .panel-buttons .btn-save.saving .text-saving {
        display: inline; }

.json-editor {
  width: 100%;
  height: 100%; }
  .json-editor textarea {
    font-family: 'Roboto Mono';
    overflow: auto;
    display: block;
    border: 0px; }

.page-editor {
  height: 100%; }
  .page-editor > .object {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .page-editor > .object > .tab-content {
      flex-grow: 1;
      overflow-y: auto; }
  .page-editor .object .tab-content {
    padding: 15px; }

.schema-editor {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .schema-editor > .schema {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px; }
    .schema-editor > .schema .icon-editor .modal .btn {
      width: 20%; }

.navbar-main {
  display: flex;
  height: 100%;
  width: 100%; }
  .navbar-main .tab-buttons {
    width: 200px;
    height: 100%;
    background-color: #222;
    box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10; }
    .navbar-main .tab-buttons button {
      display: block;
      width: 200px;
      height: 60px;
      background-color: #222;
      color: #f1f1f1;
      padding: 0px;
      margin: 0px;
      border: none;
      border-radius: 0px;
      clear: both; }
      .navbar-main .tab-buttons button[data-route="about"] {
        font-weight: bold; }
      .navbar-main .tab-buttons button.active, .navbar-main .tab-buttons button:hover {
        background-color: #333; }
      .navbar-main .tab-buttons button span {
        margin: 0px;
        height: 60px;
        line-height: 60px;
        display: block;
        float: left; }
        .navbar-main .tab-buttons button span.fa, .navbar-main .tab-buttons button span.about-logo {
          text-align: center;
          font-size: 20px;
          width: 60px;
          display: block; }
        .navbar-main .tab-buttons button span:not(.fa) {
          flex-grow: 1; }
  .navbar-main .tab-panes {
    height: 100%;
    flex-grow: 1;
    background-color: #333;
    box-shadow: 2px 0px 10px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 5; }
    .navbar-main .tab-panes .pane-container {
      display: none;
      height: 100%; }
      .navbar-main .tab-panes .pane-container.active {
        display: block; }
      .navbar-main .tab-panes .pane-container .pane {
        margin: 0px;
        height: 100%;
        width: 100%;
        border: none;
        overflow-y: auto; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container.active > .pane-item {
          border-right: 5px solid #e0e0e0;
          background-color: #424242; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container.active > .pane-item:hover {
            background-color: #424242;
            border-right: 5px solid #9e9e9e; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item {
          display: block;
          border-radius: 0px;
          border: none;
          color: #f1f1f1;
          background-color: #333;
          margin: 0px;
          height: 60px;
          padding: 0px 15px;
          clear: both; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item, .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:focus, .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:hover, .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:active {
            text-decoration: none; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:hover {
            background-color: #424242;
            border-right: 5px solid #9e9e9e; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item span {
            height: 60px;
            line-height: 60px;
            display: block;
            float: left; }
            .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item span.fa {
              margin-right: 15px; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container .children .pane-item-container {
          padding-left: 15px; }

.media-viewer {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%; }
  .media-viewer .panel-body {
    flex-grow: 1;
    position: relative; }
    .media-viewer .panel-body > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
