/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
html, body {
  height: 100%;
  font-family: 'Roboto';
  font-size: 12px; }

button, button:focus, button:hover, button:active, button:active:focus, a, a:focus, a:hover, a:active, a:active:focus {
  outline: none !important; }

/**
 * Colour a button
 */
.chip-group .chip {
  margin: 0px 0px 8px 8px;
  height: 32px;
  line-height: 32px;
  padding: 0px 4px;
  border-radius: 16px;
  background-color: #e0e0e0;
  display: inline-block; }
  .chip-group .chip input.chip-label {
    max-width: 100px; }
  .chip-group .chip .chip-label {
    color: #757575;
    margin: 0px 8px 0px 8px;
    height: 32px;
    line-height: 32px;
    background-color: transparent;
    border: 0px;
    padding: 0px; }
  .chip-group .chip .chip-remove {
    margin: 0px 0px 0px 4px;
    background-color: transparent;
    padding: 0px !important;
    height: 32px;
    width: 24px;
    position: relative;
    top: -2px; }
    .chip-group .chip .chip-remove .fa {
      color: #757575;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.chip-group .chip-add {
  margin: 0px 0px 8px 8px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  border-radius: 16px;
  background-color: #757575;
  display: inline-block;
  padding: 0px !important;
  position: relative; }
  .chip-group .chip-add .fa {
    color: #eeeeee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.thumbnail {
  background-position: center;
  background-size: cover;
  border: 0px;
  outline: 5px solid #fff;
  border-radius: 0px; }
  .thumbnail.active {
    outline: 5px solid #2196f3 !important; }
  .thumbnail.thumbnail-sm {
    height: 100px;
    width: 100px; }

.thumbnail-container .thumbnail {
  display: inline-block;
  margin: 0px 5px 5px 0px; }

.panel-login {
  margin: 0px auto;
  width: 300px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5; }
  .panel-login .panel-heading {
    text-align: center;
    padding-top: 30px; }
    .panel-login .panel-heading .login-icon {
      background-color: #bbdefb;
      margin: 0px auto;
      text-align: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: inline-block; }
      .panel-login .panel-heading .login-icon .fa {
        line-height: 80px;
        font-size: 48px;
        color: #2196f3; }
  .panel-login .panel-body .spinner-container {
    background-color: transparent;
    min-height: 100px;
    height: auto; }
  .panel-login .btn {
    margin-top: 15px;
    display: block;
    width: 100%; }

.modal .modal-dialog {
  max-width: 500px; }
  .modal .modal-dialog .modal-content {
    border-radius: 0px; }
    .modal .modal-dialog .modal-content .modal-header {
      border-bottom: 0px; }
    .modal .modal-dialog .modal-content .modal-footer {
      border-top: 0px; }

.form-control, .form-control:active, .form-control:focus {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  border: 0px;
  border-bottom: 2px solid #2196f3;
  padding-left: 0px;
  padding-right: 0px; }

.input-group .input-group-addon {
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  border: 0px; }

.input-group .input-group-btn {
  padding-left: 15px; }

.context-menu {
  border-radius: 0px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2); }

.btn {
  border-radius: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }
  .btn.btn-primary {
    background-color: #2196f3;
    border-color: #2196f3; }
    .btn.btn-primary:hover {
      background-color: #42a5f5;
      border-color: #42a5f5; }
    .btn.btn-primary:active {
      background-color: #1e88e5;
      border-color: #1e88e5; }
  .btn.btn-danger {
    background-color: #f44336;
    border-color: #f44336; }
    .btn.btn-danger:hover {
      background-color: #ef5350;
      border-color: #ef5350; }
    .btn.btn-danger:active {
      background-color: #e53935;
      border-color: #e53935; }
  .btn.btn-success {
    background-color: #4caf50;
    border-color: #4caf50; }
    .btn.btn-success:hover {
      background-color: #66bb6a;
      border-color: #66bb6a; }
    .btn.btn-success:active {
      background-color: #43a047;
      border-color: #43a047; }
  .btn:active {
    box-shadow: none; }
  .btn.btn-raised {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -2px; }
    .btn.btn-raised:active {
      top: 0px;
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2); }
  .btn.btn-embedded, .modal .modal-dialog .modal-content .modal-footer .btn {
    background-color: transparent;
    border: 0px;
    color: #2196f3; }

.btn-group {
  display: flex; }
  .btn-group:after {
    content: '';
    clear: both; }
  .btn-group .btn {
    display: block;
    flex-grow: 1; }

.form-control.disabled {
  pointer-events: none;
  opacity: 0.5; }

.nav-tabs {
  padding: 18px 0px 0px 15px;
  background-color: #2196f3;
  font-size: 14px;
  position: relative;
  font-weight: bold;
  text-transform: uppercase; }
  .nav-tabs li:not(.active) a {
    color: #e3f2fd; }
    .nav-tabs li:not(.active) a, .nav-tabs li:not(.active) a:hover, .nav-tabs li:not(.active) a:focus {
      background-color: transparent;
      border: 0px; }
  .nav-tabs li a {
    border-radius: 0px; }

.switch {
  width: 30px;
  height: 10px;
  background-color: #bdbdbd;
  position: relative;
  border-radius: 50px; }
  .switch label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 10%;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 50px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.25s ease;
    transform: translate(-50%, -50%); }
  .switch input[type=checkbox] {
    visibility: hidden; }
    .switch input[type=checkbox]:checked + label {
      left: 90%;
      background-color: #2196f3; }

.flex-vertical {
  display: flex;
  flex-direction: column; }
  .flex-vertical .flex-expand {
    flex-grow: 1; }

.flex-horizontal {
  display: flex;
  flex-direction: row; }
  .flex-horizontal .flex-expand {
    flex-grow: 1; }

body {
  overflow: hidden; }

#dragdrop-placeholder {
  border: 2px dashed #2196f3; }

*[data-dragdrop-enabled="true"], *[data-dragdrop-enabled="true"] * {
  cursor: -webkit-grab !important;
  cursor: -moz-grab !important;
  cursor: grab !important; }

*[data-dragdrop-enabled="true"][data-dragdrop-dragging="true"], *[data-dragdrop-enabled="true"][data-dragdrop-dragging="true"] * {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important; }

.about-logo {
  color: #4caf50; }

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(359deg); } }

.spinner-obscure {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.spinner-container {
  position: relative;
  z-index: 20; }
  .spinner-container .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block;
    font-size: 32px; }

.modal-upload-media .modal-body .spinner-container {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px; }

.modal-upload-media .modal-body img, .modal-upload-media .modal-body video {
  display: block;
  max-height: 200px;
  max-width: 100%;
  margin: 0px auto; }

.cms-container {
  display: flex;
  height: 100%; }
  .cms-container.fullscreen .navspace {
    width: 0px;
    flex-basis: 0px; }
  .cms-container .navspace {
    width: 500px;
    flex-basis: 500px;
    flex-shrink: 0;
    height: 100%;
    transition: width 0.5s, flex-basis 0.5s; }
  .cms-container .workspace {
    flex-grow: 1;
    height: 100%; }
    .cms-container .workspace .dashboard-container {
      padding: 30px;
      height: 100%;
      overflow-y: auto; }
    .cms-container .workspace .editor .field-container {
      display: flex;
      margin-bottom: 15px; }
      .cms-container .workspace .editor .field-container .field-icon {
        width: 20px;
        flex-shrink: 0; }
      .cms-container .workspace .editor .field-container .field-key {
        width: 200px;
        line-height: 30px;
        flex-shrink: 0; }
        .cms-container .workspace .editor .field-container .field-key .fa {
          line-height: 30px;
          margin-right: 10px; }
      .cms-container .workspace .editor .field-container .field-value {
        flex-grow: 1; }
        .cms-container .workspace .editor .field-container .field-value button {
          line-height: 20px;
          text-transform: uppercase;
          font-weight: bold;
          padding-left: 30px;
          padding-right: 30px; }
        .cms-container .workspace .editor .field-container .field-value input, .cms-container .workspace .editor .field-container .field-value select, .cms-container .workspace .editor .field-container .field-value option, .cms-container .workspace .editor .field-container .field-value textarea, .cms-container .workspace .editor .field-container .field-value p {
          font-size: 14px; }
        .cms-container .workspace .editor .field-container .field-value select option {
          padding: 5px; }
        .cms-container .workspace .editor .field-container .field-value .date-editor {
          height: 30px; }
          .cms-container .workspace .editor .field-container .field-value .date-editor p {
            line-height: 30px;
            margin: 0px; }
        .cms-container .workspace .editor .field-container .field-value .period-editor .input-group {
          width: 300px; }
          .cms-container .workspace .editor .field-container .field-value .period-editor .input-group input {
            text-align: center; }
        .cms-container .workspace .editor .field-container .field-value .period-editor .arrow-middle {
          padding: 5px; }
          .cms-container .workspace .editor .field-container .field-value .period-editor .arrow-middle span {
            line-height: 20px; }
        .cms-container .workspace .editor .field-container .field-value .rich-text-editor {
          margin: 0px; }
          .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output {
            height: 300px;
            overflow-y: auto; }
            .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h1:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h2:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h3:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h4:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h5:first-child, .cms-container .workspace .editor .field-container .field-value .rich-text-editor .rte-output h6:first-child {
              margin-top: 0px; }
          .cms-container .workspace .editor .field-container .field-value .rich-text-editor textarea {
            height: 200px;
            resize: none;
            overflow: hidden; }
    .cms-container .workspace .panel-danger {
      margin: 0px; }
    .cms-container .workspace .panel-buttons {
      padding: 15px;
      margin: 0px;
      border-width: 0px;
      border-top-width: 1px;
      border-radius: 0px; }
      .cms-container .workspace .panel-buttons .btn-group {
        float: right; }
        .cms-container .workspace .panel-buttons .btn-group .btn {
          line-height: 20px;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 15px;
          min-width: 110px; }
          .cms-container .workspace .panel-buttons .btn-group .btn:last-child {
            margin-right: 0px; }
          .cms-container .workspace .panel-buttons .btn-group .btn span {
            line-height: 20px; }
            .cms-container .workspace .panel-buttons .btn-group .btn span.fa {
              font-size: 18px; }
          .cms-container .workspace .panel-buttons .btn-group .btn .text-working {
            display: none; }
          .cms-container .workspace .panel-buttons .btn-group .btn.working .text-default {
            display: none; }
          .cms-container .workspace .panel-buttons .btn-group .btn.working .text-working {
            display: inline; }

.json-editor {
  width: 100%;
  height: 100%; }
  .json-editor textarea {
    font-family: 'Roboto Mono';
    overflow: auto;
    display: block;
    border: 0px;
    resize: none; }

.struct-editor .kvp {
  display: flex;
  margin-bottom: 10px; }
  .struct-editor .kvp .key {
    width: 100px;
    flex-shrink: 0;
    line-height: 34px; }
  .struct-editor .kvp .value {
    flex-grow: 1; }

.array-editor.sorting .btn-sort-items .text-default {
  display: none; }

.array-editor.sorting .btn-sort-items .text-sorting {
  display: inline; }

.array-editor.sorting .items .item {
  overflow-y: hidden;
  height: 80px;
  position: relative;
  outline: 2px dashed #e0e0e0;
  border: 0px; }
  .array-editor.sorting .items .item .btn-remove {
    display: none; }
  .array-editor.sorting .items .item:after {
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 80px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white); }

.array-editor.sorting .btn-add {
  display: none; }

.array-editor .btn-sort-items .text-default {
  display: inline; }

.array-editor .btn-sort-items .text-sorting {
  display: none; }

.array-editor .items {
  padding-top: 30px; }
  .array-editor .items .item {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
    margin-top: 30px; }
    .array-editor .items .item:first-of-type {
      margin-top: 0px; }
    .array-editor .items .item:last-of-type {
      border-bottom: 0px; }
    .array-editor .items .item > .item-schema-selector {
      clear: both;
      display: flex;
      margin-bottom: 10px;
      width: calc(100% - 34px); }
      .array-editor .items .item > .item-schema-selector .key {
        width: 100px;
        flex-shrink: 0;
        line-height: 34px; }
      .array-editor .items .item > .item-schema-selector .value {
        flex-grow: 1; }
    .array-editor .items .item > .field-editor {
      width: calc(100% - 34px); }
    .array-editor .items .item > .btn-remove {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 34px;
      width: 34px;
      padding: 0px !important; }
      .array-editor .items .item > .btn-remove .fa {
        color: #f44336;
        line-height: 34px; }

.array-editor .btn-add {
  margin-top: 10px; }

.media-reference-editor .list-group-item img {
  max-width: 60px;
  max-height: 60px; }

.media-reference-editor .list-group-item.btn {
  color: #fff;
  text-align: center; }

.content-editor {
  height: 100%; }
  .content-editor > .object {
    display: flex;
    flex-direction: column;
    height: 100%; }
    .content-editor > .object > .nav-tabs, .content-editor > .object > .panel-buttons {
      flex-shrink: 0; }
    .content-editor > .object > .tab-content {
      flex-grow: 1;
      overflow-y: auto; }
    .content-editor > .object .language-picker {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 200;
      background-color: #64b5f6; }
      .content-editor > .object .language-picker .dropdown-menu {
        width: 100%;
        min-width: 0px;
        margin-top: -1px;
        border-radius: 0px;
        padding: 0px; }
        .content-editor > .object .language-picker .dropdown-menu li a {
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          font-size: 12px;
          padding: 5px 0px;
          display: block; }
          .content-editor > .object .language-picker .dropdown-menu li a:hover {
            background-color: #e0e0e0; }
  .content-editor .object .tab-content {
    padding: 15px; }

.schema-editor {
  height: 100%;
  display: flex;
  flex-direction: column; }
  .schema-editor .locked-message {
    margin: 30px auto 15px auto; }
  .schema-editor > .schema {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px; }
    .schema-editor > .schema .field-value .read-only {
      line-height: 30px;
      margin: 0px; }
    .schema-editor > .schema .icon-editor > .fa {
      line-height: 30px; }
    .schema-editor > .schema .icon-editor .modal .modal-dialog {
      width: 900px;
      max-width: calc(100% - 30px); }
    .schema-editor > .schema .icon-editor .modal .icon-search {
      margin-bottom: 15px; }
    .schema-editor > .schema .icon-editor .modal .btn-icon {
      text-align: left;
      padding: 10px 15px !important;
      width: 25%;
      overflow: hidden;
      text-overflow: ellipsis; }
      .schema-editor > .schema .icon-editor .modal .btn-icon .fa {
        font-size: 20px;
        margin-right: 15px; }

.cms-container.fullscreen .navbar-main .fullscreen-toggle .fa-chevron-left {
  display: none; }

.cms-container.fullscreen .navbar-main .fullscreen-toggle .fa-chevron-right {
  display: inline; }

.cms-container.fullscreen .navbar-main .tab-panes, .cms-container.fullscreen .navbar-main .tab-buttons {
  opacity: 0;
  width: 0px; }

.navbar-main {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #222; }
  .navbar-main .fullscreen-toggle {
    width: 0px;
    flex-shrink: 0;
    padding: 0px;
    position: relative;
    border: 0px; }
    .navbar-main .fullscreen-toggle:after {
      position: absolute;
      right: -10px;
      top: 0px;
      z-index: 100;
      content: '';
      display: block;
      height: 100%;
      width: 10px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent); }
    .navbar-main .fullscreen-toggle .btn {
      background-color: #333;
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      padding: 12px 4px 12px 0px;
      display: block;
      text-align: center;
      z-index: 200;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .navbar-main .fullscreen-toggle .fa {
      font-size: 8px;
      color: #9e9e9e; }
      .navbar-main .fullscreen-toggle .fa.fa-chevron-left {
        display: inline; }
      .navbar-main .fullscreen-toggle .fa.fa-chevron-right {
        display: none; }
  .navbar-main .tab-panes, .navbar-main .tab-buttons {
    transition: opacity 0.5s, width 0.5s;
    overflow-x: hidden; }
  .navbar-main .tab-buttons {
    width: 200px;
    height: 100%;
    background-color: #222;
    position: relative;
    z-index: 10; }
    .navbar-main .tab-buttons button {
      display: block;
      width: 200px;
      height: 60px;
      background-color: #222;
      color: #f1f1f1;
      padding: 0px;
      margin: 0px;
      border: none;
      border-radius: 0px;
      clear: both;
      position: relative; }
      .navbar-main .tab-buttons button[data-route="about"] {
        font-weight: bold; }
      .navbar-main .tab-buttons button.active, .navbar-main .tab-buttons button:hover {
        background-color: #333; }
      .navbar-main .tab-buttons button span {
        margin: 0px;
        height: 60px;
        line-height: 60px;
        display: block;
        position: absolute;
        top: 0px; }
        .navbar-main .tab-buttons button span.fa, .navbar-main .tab-buttons button span.about-logo {
          text-align: center;
          font-size: 20px;
          width: 60px;
          display: block;
          left: 0px; }
        .navbar-main .tab-buttons button span:not(.fa) {
          flex-grow: 1; }
        .navbar-main .tab-buttons button span.pane-label {
          left: 60px; }
        .navbar-main .tab-buttons button span.pane-sublabel {
          left: 60px;
          top: 40px;
          line-height: 10px;
          height: 10px;
          opacity: 0.5;
          font-size: 10px; }
  .navbar-main .tab-panes {
    height: 100%;
    flex-grow: 1;
    background-color: #333;
    position: relative;
    z-index: 5; }
    .navbar-main .tab-panes .pane-container {
      display: none;
      height: 100%; }
      .navbar-main .tab-panes .pane-container.active {
        display: block; }
      .navbar-main .tab-panes .pane-container .pane {
        margin: 0px;
        height: 100%;
        width: 100%;
        border: none;
        overflow-y: auto; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container.active > .pane-item {
          border-right: 5px solid #e0e0e0;
          background-color: #424242; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container.active > .pane-item:hover {
            background-color: #424242;
            border-right: 5px solid #9e9e9e; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container.active > .pane-item .btn-children-toggle {
            right: 0px; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container.open > .pane-item .btn-children-toggle .fa-caret-right {
          display: none; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container.open > .children {
          display: block; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container:not(.open) > .pane-item .btn-children-toggle .fa-caret-down {
          display: none; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container:not(.open) > .children {
          display: none; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item {
          display: block;
          border-radius: 0px;
          border: none;
          color: #f1f1f1;
          background-color: #333;
          margin: 0px;
          height: 60px;
          padding: 0px 15px;
          clear: both;
          cursor: pointer;
          position: relative; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item, .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:focus, .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:hover, .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:active {
            text-decoration: none; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:hover {
            background-color: #424242;
            border-right: 5px solid #9e9e9e; }
            .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item:hover .btn-children-toggle {
              right: 0px; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item .btn-children-toggle {
            position: absolute;
            top: 0px;
            right: 5px;
            height: 100%;
            width: 32px;
            padding: 0px;
            background-color: transparent;
            border: none; }
            .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item .btn-children-toggle .fa {
              margin: 0px;
              display: block;
              width: 100%; }
          .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item span {
            height: 60px;
            line-height: 60px;
            display: block;
            float: left; }
            .navbar-main .tab-panes .pane-container .pane .pane-item-container .pane-item span.fa {
              margin-right: 15px; }
        .navbar-main .tab-panes .pane-container .pane .pane-item-container .children .pane-item-container {
          padding-left: 15px; }

.media-viewer {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%; }
  .media-viewer .media-heading {
    padding: 0px 15px; }
  .media-viewer .media-preview {
    flex-grow: 1;
    position: relative; }
    .media-viewer .media-preview img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%; }

.language-settings .input-group {
  width: 100px; }
