:root {
  --primary: #e70d3b;
  --primary-light: #f66483;
  --primary-dark: #b70a2f;
  --primary-text: #ffffff;
  
  --secondary: #21303b;
  --secondary-light: #283b48;
  --secondary-lighter: #2c404f;
  --secondary-lightest: #375062;
  --secondary-dark: #0f151a;
  --secondary-darker: black;
  --secondary-text: #ffffff;
  
  --warning: #FFB300;
  --warning-text: #664800;

  --standard: #ffffff;
  --standard-dark: #eeeeee;
  --standard-darker: #dddddd;
  --standard-darkest: #666666;
  --standard-text: #333333;
}
