/**
 * The array field editor
 */
.field-editor--array {
    min-height: 10rem;

    // Array item
    &__item {
        flex-wrap: wrap;
    }
            
    // Add button
    &__add {
        clear: both;
        margin-top: 1rem;
    }

    // Grid
    &.grid &__item {
        float: left;
        margin: 0.5rem;
        width: calc(100% / 3 - 1rem);
    }
}
