.field-editor--array {
    &__item {
        flex-wrap: wrap;

        &.collapsed &__toolbar { display: none; }

        &__toolbar {
            flex-basis: 100%;
            display: flex;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            background-color: $standard-dark;
            padding: 0.5rem;

            .widget--label {
                flex-grow: 0;
                flex-basis: 10rem;
            }
        }
    }

    // Grid
    &.grid &__item {
        float: left;
        margin: 0.5rem;
        width: calc(100% / 3 - 1rem);
    }

    // Sorting
    &.sorting &__item__toolbar {
        display: none;
    }
}
