/**
 * A Media picker
 */
.editor__field--media-reference {
    &__pick {
        border: 1px solid $standard-darker;
        border-bottom: 0;
        border-top-right-radius: 0.2rem;
        border-top-left-radius: 0.2rem;
        height: 9rem;
        width: 12rem;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        color: $primary;
        transition: color 0.3s ease, background-color 0.3s ease;
        padding: 0;

        &:hover {
            color: $primary-text;
            background-color: $primary;
        }

    }

    &__empty {
        position: absolute;
        display: block;
        font-size: 4rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        &:after {
            font-family: 'FontAwesome';
            content: '\f1c5';
        }
    }
    
    &__remove {
        display: block;
        border-bottom-right-radius: 0.2rem;
        flex-basis: 2rem;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        color: $primary;
        background-color: $primary-text;
        border: 0;
        padding: 0;
        background-color: transparent;
        transition: color 0.3s ease, background-color 0.3s ease;
        border: 1px solid $standard-darker;
        border-top: 0;
        border-left: 0;
        
        &:hover {
            color: $primary-text;
            background-color: $primary;
        }
        
        &:after {
            font-family: 'FontAwesome';
            content: '\f00d';
        }
    }

    &__footer {
        display: flex;
        width: 12rem;
    }

    &__name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        flex-grow: 1;
        line-height: 2rem;
        height: 2rem;
        padding: 0 0.5rem;
        font-weight: bold;
        margin: 0;
        border-bottom-left-radius: 0.2rem;
        border: 1px solid $standard-darker;
        border-top: 0;
        border-right: 0;
    }

    &__preview {
        max-width: 100%;
        position: absolute;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        font-size: 4rem;
    }
}
