/**
 * A rich text editor
 */
.field-editor--rich-text {
    margin: 0px;
    border-radius: 0.2rem;
    border: 1px solid $standard-darker;

    // Tablet mode
    @media($sm) {
        width: auto;
    }

    // Header
    &__header {
        padding: 1rem 0 0 1rem;
        background-color: $standard-darker;
        position: relative;
        height: 4rem;

        // Tab
        &__tab {
            text-transform: uppercase;
            font-weight: bold;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
            border: 0;
            background-color: $standard-dark;
            color: $standard-text;
            height: 3rem;
            line-height: 3rem;
            padding: 0 1rem;
            margin-right: 0.5rem;

            &:hover {
                background-color: $primary;
                color: $primary-text;
            }

            &.active {
                background-color: $standard;
                color: $standard-text;
            }
        }

        // "Add media" button
        &__add-media {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            padding: 0 0.5rem;
            border: 0;
            color: $primary;
            background-color: transparent;
            border-radius: 0.2rem;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 2rem;
            height: 2rem;
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: $primary;
                color: $primary-text;
            }

            &:before {
                font-family: 'FontAwesome';
                content: '\f1c5';
                margin-right: 0.5rem;
            }
        }
    }

    // Body
    &__body {
        height: 462px; // To match CodeMirror's height

        &__tab {
            height: 100%;
        }
    }

    // Wysiwyg styling
    &__wysiwyg {
        background-color: $standard;
        height: 100%;

        &__toolbar {
            margin: 0 !important;
            background-color: $standard-dark;

            .widget--button {
                background-color: transparent !important;
            }
            
            .widget--dropdown {
                max-width: 14rem;
                
                &__option {
                    &:not([data-value="p"]) {
                        font-weight: bold;
                    }
                    
                    &[data-value="h1"] { font-size: 2rem; line-height: 3rem; }
                    &[data-value="h2"] { font-size: 1.5rem; line-height: 2.5rem; }
                    &[data-value="h3"] { font-size: 1.17rem; line-height: 2.17rem; }
                    &[data-value="h4"] { font-size: 1rem; }
                    &[data-value="h5"] { font-size: 0.83rem; }
                    &[data-value="h6"] { font-size: 0.67rem; }

                    &::after {
                        font-size: 1rem;
                        line-height: inherit !important;
                    }
                }
            }
        }

        &__editor {
            height: calc(100% - 2rem);
            overflow: auto;
            padding: 0 1rem;

            &:focus {
                outline: none;
            }

            *[src] {
                max-width: 40rem;
                width: 100%;
            }
        }
    }

    // CodeMirror styling
    .CodeMirror {
        min-height: 462px;

        p, pre, span {
            font-size: 14px;
        }
    }
}
