// Single buttons
.btn {
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 34px;
    height: 34px;
    padding: 0px;

    &.btn-demo-reset {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        z-index: 999;
    }

    &.btn-primary, &.btn-default, &.btn-danger, &.btn-success {
        min-width: 110px;
        padding-top: 0px;
        padding-bottom: 0px;
    } 

    &.btn-small {
        min-width: 0px;
        padding: 0px 1rem;
    }

    @include set-button-color('primary', $primary, $primary, $primary-text);
    @include set-button-color('secondary', $secondary, $secondary, $secondary-text);
    @include set-button-color('danger', $warning, $warning, $warning-text);
    @include set-button-color('success', $success, $success, $success-text);
    @include set-button-color('default', $standard, $standard-darker, $standard-text);

    &:active {
        box-shadow: none;
    }

    &.btn-primary {
        background-color: $primary;
        border-color: $primary;
    }

    &.btn-right {
        display: block;
        margin-left: auto;
    }
    
    &.btn-left {
        display: block;
        margin-right: auto;
    }

    &.btn-round {
        padding: 0px !important;
        width: 45px;
        height: 45px;
        min-width: auto;
        min-height: auto;
        line-height: 45px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 100;

        .fa-plus {
            font-size: 14px;
        }
    }

    &.btn-raised {
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
        position: relative;

        &:active {
            top: 2px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        } 
    }

    &.btn-embedded {
        background-color: transparent;
        border: 0px;
        color: $primary;

        &.btn-embedded-danger {
            color: $warning;
        }
    }
    
    &.btn-remove {
        background-color: transparent;
        border: 0px;
        color: material-color('red', '500');
        position: absolute;
        z-index: 10;
        top: 0px;
        right: 0px;
        padding: 6px;
    }

    &.working {
        .text-default {
            display: none;
        }

        .text-working {
            display: inline;

            &:after {
                content: '\f1ce';
                font-family: 'FontAwesome';
                margin-left: 6px;
                display: inline-block;
                transform-origin: 6px 5.5px;
                line-height: normal;
                animation-name: spinner-no-offset;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
        }
    }

    .text-working {
        display: none;
    }
}

// Button group
.btn-group {
    display: flex;

    .btn {
        flex-grow: 0;

        &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
            border-radius: 2px;
        }
    }

    .btn-group-addon {
        min-width: 40px;
        padding: 6px;
    }
}

// Round button group
.btn-round-group {
    width: 45px;

    &:hover {
        .btn-group-addon {
            transform: scale(1);
        }   
        
        .btn {
            .btn-icon-display {
                opacity: 1;
                transform: translate(-50%, -50%) rotate(0deg);
            }
            
            .btn-icon-initial {
                opacity: 0;
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
    }

    .btn {
        display: block;
        position: relative;
        
        &:hover {
            label {
                display: block;
            }
        }

        label {
            display: none;
            position: absolute;
            margin: 0px;
            top: 50%;
            left: -10px;
            transform: translate(-100%, -50%);
            font-size: 12px;
            border-radius: 2px;
            color: material-color('grey', '100');
            background-color: material-color('grey', '600');
            padding: 5px 10px;
            text-transform: none;
            line-height: 1em;
            max-width: none;
        }
        
        .btn-icon-initial,
        .btn-icon-display {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.25s ease, transform 0.25s ease;
        }

        .btn-icon-initial {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg);
        }
        
        .btn-icon-display {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(-180deg);
        }
    }

    .btn-group-addon {
        transform: scale(0);
        margin-bottom: 10px;
        transition: transform 0.25s ease;
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
        margin-left: 5px;
        margin-right: 5px;

        .fa {
            font-size: 13px;
        }
    }
}

