// Chips
.chip-group {
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .chip {
        margin: 0px 4px 4px 0px;
        height: 32px;
        line-height: 32px;
        padding: 0px 4px;
        border-radius: 16px;
        background-color: $primary;
        display: inline-block;

        input.chip-label {
            max-width: 100px;
        }
        
        .chip-label {
            margin: 0px 8px 0px 8px;
            height: 32px;
            line-height: 32px;
            background-color: transparent;
            border: 0px;
            padding: 0px;
            display: inline;
            width: auto;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #fff;

            &.dropdown {
                margin-right: 0px;

                &.open {
                    .dropdown-toggle {
                        &:before {
                            content: none;
                        }
                    }
                }

                .dropdown-menu {
                    max-height: 300px;
                    overflow-y: auto;
                }

                .dropdown-toggle {
                    letter-spacing: normal;
                    background: none;
                    border: 0px;
                    padding: 0px;
                    margin: 0px;
                    font-size: 14px;
                    color: #fff;

                    &:after {
                        content: '\f0d7';
                        font-family: 'FontAwesome';
                        margin-left: 5px;
                    }

                    .fa {
                        margin-left: 0.5em;
                    }
                }
            }
        }

        .chip-remove {
            margin: 0px 2px 0px 4px;
            background-color: transparent;
            padding: 0px !important;
            height: 16px;
            line-height: 16px;
            width: 16px;
            position: relative;
            top: -2px;
            border-radius: 50%;

            &:hover {
                background-color: #fff;

                .fa {
                    color: $primary;
                }
            }

           .fa {
                color: #fff;
           } 
        }
    }

    .chip-add {
        margin: 0px 0px 4px 0px;
        height: 32px;
        width: 32px;
        line-height: 32px;
        border-radius: 16px;
        background-color: $primary;
        display: inline-block;
        padding: 0px !important;
        position: relative;

        &:first-child {
            margin-left: 0px;
        }

        .fa {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
    }
}
