// Login panel
.panel-login {
    margin: 0px auto;
    width: 300px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: material-color('grey', '100');

    .panel-heading {
        text-align: center;
        padding-top: 30px;

        .login-icon {
            background-color: material-color('blue', '100');
            margin: 0px auto;
            text-align: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;

            .fa {
                line-height: 80px;
                font-size: 48px;
                color: $primary;
             }
        }
    }

    .panel-body {
        .spinner-container {
            background-color: transparent;
            min-height: 100px;
            height: auto;
        }
    }

    .btn {
        margin-top: 15px;
        display: block;
        width: 100%;
    }
}

