.nav-tabs {
    padding: 1rem 0px 0px 1rem;
    background-color: $secondary; 
    font-size: 14px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;

    >li {
        margin: 0px;

        &.active {
            a, a:hover, a:focus {
                color: $primary;
                border: 0px;
                background-color: transparent;
                border-bottom: 5px solid $primary;
            }
        }

        &:not(.active) {
            a {
                &, &:hover, &:focus {
                    color: $primary-text;
                    background-color: transparent;
                    border: 0px;
                    border-bottom: 5px solid transparent;
                }
            }
        }

        a {
            border-radius: 0px;
            margin: 0px;
        }
    }
}
