/**
 * Some basic defaults
 */
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: $standard-dark;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

button, a {
    cursor: pointer;
}

// Breakpoints
$lg: 'min-width: 1400px';
$md: 'max-width: 1399px';
$sm: 'max-width: 991px';
$xs: 'max-width: 767px';
