.widget--checkbox {
    display: flex;
    cursor: pointer;
    border-radius: 0.2rem;
    border: 1px solid var(--standard-darker);
    height: 2rem;

    &.large {
        height: 3rem;
    }
    
    &.large &__label {
        padding-left: 1rem;
    }

    &.large &__indicator {
        width: 3rem;
    }
    
    &:hover {
        border-color: var(--primary);
    }

    &__input {
        display: none;
    }

    &__indicator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 2rem;
        text-align: center;

        &::after {
            position: relative;
            font-family: 'FontAwesome';
            content: '\f00d';    
            color: var(--standard-darker);
        }
    }

    &__label {
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--standard-darkest);
    }

    &__input:checked + &__indicator::after {
        content: '\f00c';
        color: var(--standard-text);
    }
}
