.widget--checkbox {
    display: flex;
    cursor: pointer;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-default-200);
    height: var(--size-widget-small);
    background-color: var(--color-default); 

    &:not(.label) {
        width: var(--size-widget-small);
        max-width: var(--size-widget-small);
        min-width: var(--size-widget-small);
    }

    &.large {
        height: var(--size-widget-medium);
    }
    
    &.large &__label {
        padding-left: 1rem;
    }

    &.large &__indicator {
        width: var(--size-widget-medium);
    }
    
    &:hover {
        border-color: var(--color-action);
    }

    &__input {
        display: none;
    }

    &__indicator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: var(--size-widget-small);
        text-align: center;

        &::after {
            position: relative;
            font-family: 'FontAwesome';
            content: '\f00d';    
            color: var(--color-default-200);
        }
    }

    &__label {
        padding-left: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color-default-300);
    }

    &__input:checked + &__indicator::after {
        content: '\f00c';
        color: var(--color-default-text);
    }
}
