/**
 * A generic label
 */
.widget--label {
    line-height: 2rem;
    height: 2rem;
    display: block;
    flex-grow: 1;
    margin: 0;
    color: var(--color-default-text);
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    > .fa {
        margin-right: 0.5rem;
    }

    &.small {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10rem;
        max-width: 10rem;
    }
}
