.widget--rich-text {
    background-color: var(--default);
    height: 100%;

    &__toolbar {
        margin: 0 !important;
        background-color: var(--default-300);
        padding: 0.5rem;

        .widget--popup {
            max-width: 14rem;
            
            &__option {
                &::after {
                    font-size: 1rem;
                    line-height: inherit !important;
                }
            }
        }
    }

    &__editor {
        height: calc(100% - var(--size-widget-small));
        background-color: var(--color-default);
        color: var(--color-default-text);
        overflow: auto;
        padding: 0 1rem;

        &:focus {
            outline: none;
        }

        a {
            cursor: text;
        }

        *[src] {
            max-width: 100%;
        }
    }
}
