.widget--text {
    width: 100%;
    resize: none;
    border: 1px solid var(--color-default-200);
    padding: 0 0.5rem;
    border-radius: var(--border-radius-small);
    display: block;
    height: var(--size-widget-small);
    line-height: var(--size-widget-small);
    background-color: var(--color-default);
    color: var(--color-default-text);

    &:focus {
        border-color: var(--color-action);
    }

    &[disabled] {
        opacity: 0.5;
    }
}

textarea.widget--text {
    height: calc(6 * var(--size-widget-small)); 
}
