/**
 * A group of chips
 */
.widget--chips {
    &__chip {
        display: inline-block;
        margin-right: 1rem;
        position: relative;
        border-radius: 2rem;
        line-height: 2rem;
        height: 2rem;
        padding: 0 0.5rem;
        background-color: $primary;
        color: $primary-text;

        &__input { 
            border: 0;
            text-align: center;
            background-color: transparent;

            &:focus {
                outline: 0;
            }
        }

        &__remove {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 2rem;
            height: 2rem;
            color: $primary-text;
            border: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            line-height: 2rem;
        }
    }

    &__add {
        line-height: 2rem !important;
        height: 2rem !important;
        width: 2rem !important;
        display: inline-block !important;
    }
}
