/**
 * A group of chips
 */
.widget--chips {
    &__chip {
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        position: relative;
        border-radius: 2rem;
        line-height: 2rem;
        height: 2rem;
        padding: 0 0.5rem;
        background-color: $standard;
        color: $standard-text;
        border: 0.1rem solid $standard-darker;

        &:last-of-type {
            margin-bottom: 0;
        }

        &__input { 
            border: 0;
            text-align: center;
            background-color: transparent;
            display: inline-block;
            padding: 0;
            margin: 0;
            width: 9.5rem;

            &:focus {
                outline: 0;
            }

            &:nth-child(2) {
                border-left: 1px solid rgba($primary-text, 0.5);
            }
        }

        &__remove {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 2rem;
            height: 2rem;
            color: $primary;
            border: 0;
            margin: 0;
            padding: 0;
            background: transparent;
            line-height: 2rem;
        }
    }

    &__add {
        line-height: 2rem !important;
        height: 2rem !important;
        width: 2rem !important;
        display: inline-block !important;
    }
}
