/**
 * A versatile input widget
 */
.widget--input {
    display: block;
    line-height: 2rem;
    margin-bottom: 0.5rem;

    &[type="text"],
    &[type="number"] {
        padding: 0 0.5rem;
        height: 2rem;
        width: 100%;
        max-width: 20rem;
    }
}
