/**
 * Tabs
 */
.widget--tab {
    &__content {
        display: none;
    }

    &__button {
        position: absolute;
        bottom: 100%;
        height: 3rem;
        line-height: 3rem;
        display: block;
    }

    &__button:checked + &__content {
        display: block;
    }
}
