/**
 * A generic widget
 */
@keyframes widget__spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.widget {
    position: relative;

    // Working state
    &.working {
        &:after {
            font-family: 'FontAwesome';
            content: '\f1ce';
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -1rem;
            width: 2rem;
            line-height: 2rem;
            height: 2rem;
            text-align: center;
            z-index: 10;
            animation: widget__spinner 1s linear infinite;
        }
    }
}
