html, body {
    height: 100%;
    background-color: var(--color-default-100);
    color: var(--color-default-text);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.page {
    margin: 0;
    padding: 0;

    &.centered {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
