// Error modal
.modal.error-modal {
    .modal-dialog {
        .fa-warning {
            margin-right: 10px;
        }

        .modal-header {
            background-color: $warning;
            color: $warning-text;
        }
    }    
}
