// Settings modal
.modal.settings-modal, .modal.confirm-modal {
    .modal-dialog {
        max-width: 400px;

        .field {
            display: flex;
            margin-bottom: 1rem;
            
            .field-key {
                flex-basis: 30%;
                display: flex;
                align-items: center;
            }

            .field-value {
                flex-basis: 70%;
            }
        } 

        .input-group {
            display: flex;

            span {
                flex-grow: 1;
                line-height: 30px;
            }

            .input-group-addon {
                padding: 0px;
            }
        }
    }
}

