// Main container
.cms-container {
    .workspace {
        &.presentation {
            position: relative;

            &.presentation-center {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .dashboard-container {
                    height: auto;
                }
            }

            &:before {
                pointer-events: none;
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 80%;
                height: 100%;
                opacity: 0.10;
                background-image: url('/svg/logo_white.svg');
                background-repeat: no-repeat;
                background-size: auto 200%;
                background-position: 0% 50%;
            }
            
            a:not(.btn) {
                color: $primary;
                font-weight: 700;

                &:hover {
                    color: $primary-light;
                }
            }

            .dashboard-container {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        .dashboard-container {
            padding: 15px 30px;
            height: 100%;
            overflow-y: auto;
        }
    }
}
