@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: bold;
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'RobotoMono';
    font-weight: normal;
    src: url('/fonts/Roboto_Mono/RobotoMono-Regular.ttf');
}
