// Body
html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: $standard-dark;
    overflow: hidden;
}

// Flex classes
.flex-vertical {
    display: flex;
    flex-direction: column;

    .flex-expand {
        flex-grow: 1;
    }
}

.flex-horizontal {
    display: flex;
    flex-direction: row;

    .flex-expand {
        flex-grow: 1;
    }
}

// Dragdrop
*[data-dragdrop-enabled="true"] {
    &, * {
        cursor: -webkit-grab !important;
        cursor: -moz-grab !important;
        cursor: grab !important;
    }

    &[data-dragdrop-dragging="true"] {
        &, * {
            cursor: -webkit-grabbing !important;
            cursor: -moz-grabbing !important;
            cursor: grabbing !important;
        }
    }
}

#dragdrop-placeholder, *[data-dragdrop-unsorted="true"][data-dragdrop-hovering="true"] {
    border: 2px dashed $primary;
}

// Bootstrap fixes
button, a {
    &, &:focus, &:hover, &:active, &:active:focus {
        outline: none !important;
    }
}


// Containers
.raised {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 15px 30px;
}

.sunken {
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}


// Context menu
.cr-context-menu {
    border-radius: 0px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem 1rem 1rem;
    list-style: none;
    background-color: $secondary;
    
    &__header {
        color: $secondary-text;
        opacity: 0.8;

        &:not(:first-of-type) {
            margin-top: 1rem;
        }   
    }

    li {
        line-height: 2;
    }

    a {
        display: block;
        margin-left: 0.5rem;
        color: $primary-text;

        &:hover {
            color: $primary;
        }
            
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
