.content-editor {
    height: 100%;

    >.object {
        display: flex;
        flex-direction: column;
        height: 100%;

        >.tab-content {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .object {
        .tab-content {
            padding: 15px;
        }
    }
}
