.modal-project-admin {
    .project-backup {
        margin-top: 1em;
        display: flex;
        height: 30px;
        
        .project-backup-name {
            line-height: 30px;
            margin: 0px;
            flex-grow: 1;
        }
    }
}

body >.dashboard-container {
    display: flex;
    height: 100%;

    .navspace {
        width: 160px;
        flex-basis: 160px;
        flex-shrink: 0;
        height: 100%;
    }

    .workspace {
        flex-grow: 1;
        height: 100%;
        padding: 15px 30px;
        overflow-y: auto;
        background-color: material-color('grey', '100');

        section {
            display: flex;
            margin-bottom: 30px;
            max-width: 480px;
            margin-left: auto;
            margin-right: auto;

            >h4 {
                flex-shrink: 0;
                flex-basis: 200px;
                width: 200px;
                white-space: pre;
                margin: 0px;
                margin-left: -200px;

                a {
                    color: material-color('grey', '800');
                }

                button {
                    display: block;
                    margin-top: 15px;
                }
            }

            >div, >table {
                flex-grow: 1;
            }
        }

        .diagnostics {
            tr {
                font-size: 14px;

                td {
                    padding-bottom: 1em;

                    &:first-child {
                        min-width: 200px;
                        font-weight: bold;
                    }

                    &:last-child {

                    }
                }
            }
        }

        .projects {
            .btn-create-project {
                display: block;
                margin-left: auto;
                margin-right: 12px;
            }

            .project-editor {
                padding: 15px;
                margin-bottom: 30px;
                position: relative;
                
                .btn-remove {
                    padding: 0rem;
                    position: absolute;
                    right: 1rem;
                    top: 1rem;
                    display: block;
                    color: material-color('red', '500');
                }

                .body {
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .info {
                        flex-grow: 1;

                        h4, h2 {
                            margin-top: 0px;
                        }
                    }

                    .admin {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                    }

                    .environments {
                        margin: 0px -2px;
                   
                        .btn-add {
                            display: block;
                            margin-top: 1em;
                            margin-left: auto;
                        }

                        .environment {
                            width: 100%;

                            .btn {
                                max-width: 110px;
                            }

                            .dropdown {
                                .dropdown-toggle {
                                    width: 26px;
                                    line-height: 30px;
                                    display: block;
                                    height: 30px;
                                    text-align: right;
                                }
                            }

                            .environment-title {
                                line-height: 30px;
                                font-weight: 700;
                                width: 100px;
                                flex-shrink: 0;
                                flex-grow: 1;
                            }
                        }
                    } 
                }
            }
        }
    }
}
