.modal-project-admin {
    .modal-body {
        position: relative;
        padding-top: 0px;
        min-height: 70px;
    }

    .project-backup {
        display: flex;
        margin: 1em auto 0em auto;
        border-bottom: 1px solid material-color('grey', '200');
        padding: 10px;

        .project-backup-name {
            line-height: 1.5em;
            margin: 0px;
            flex-grow: 1;
        }
    }

    .btn-round-group {
        display: block;
        margin-left: auto;
    }
}

.modal-migrate-content {
    .modal-body {
        padding-top: 0px;

        .migration-message {
            border-radius: 2px;
            padding: 10px 15px;
            background-color: material-color('yellow', '800');
            margin-bottom: 20px;

            .fa {
                margin-right: 10px;
            }
        }

        .migration-operation {
            display: flex;
            flex-wrap: wrap;

            select {
                width: 40%;
                flex-grow: 1;
            }

            .fa {
                width: 20%;
                line-height: 34px;
                text-align: center;
            }
        }

        .migration-settings {
            margin-top: 30px;

            .input-group {
                width: 50%;
                margin: 0px auto;
            }
        }
    }
}

body.dashboard-container {
    background-color: $standard-dark;
    overflow-y: auto;

    a {
        color: $primary;
    }

    .update {
        @extend .raised;

        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 50;
        background-color: $secondary-dark;
        color: $secondary-text;
        padding: 1rem;
        text-align: center;
    }

    .dashboard-header {
        text-align: center;
        padding-left: 0px;
        min-height: 64px;
        justify-content: center;

        @include background('secondary');

        .dashboard-logo {
            position: absolute;
            left: 1rem;
            color: $secondary-text;
            line-height: 30px;
            text-transform: none;
            font-weight: normal;
            top: 50%;
            transform: translateY(-50%);
            text-decoration: none;

            span {
                margin-left: 0.5rem;
            }
        }

        li {
            float: none;
            display: inline-block;
        }

        form {
            position: absolute;
            top: 1rem;
            right: 1rem;
            margin: 0px;
        }
    }

    .server {
        margin: 15px auto;

        tr {
            font-size: 14px;

            td {
                padding-bottom: 1em;

                &:first-child {
                    min-width: 200px;
                    font-weight: bold;
                }

                &:last-child {

                }
            }
        }
    }

    .users {
        .btn-invite-user {
            display: block;
            margin-left: auto;
            margin-top: 30px;
        }
        
        .user-list {
            display: flex;
            flex-wrap: wrap;
            padding: 0.5rem 0rem;
            margin: 0rem -0.5rem;

           .user {
                flex-basis: calc(33.33% - 1rem);
                width: calc(33.33% - 1rem);
                margin: 0.5rem;
                padding: 1rem;
                display: flex;

                &:last-child {
                    border-bottom: 0px;
                }

                &.expanded {
                    .user-editor { 
                        display: block;
                    }
                }

                .btn-remove {
                    position: static;

                    .fa {
                        text-align: center;
                        border-radius: 50%;
                        margin-right: 15px;
                        color: #fff;
                        background-color: material-color('grey', '400');
                        width: 16px;
                        line-height: 16px;

                        &:before {
                            margin-right: -1px;
                        }

                        &:hover {
                            background-color: material-color('red', '600');
                        }
                    }
                }

                .user-actions {
                    .btn {
                        display: block;

                        &:first-child {
                            margin-bottom: 1rem;
                        }
                    }
                }

                .user-info {
                    .user-icon {
                        line-height: 40px;
                        text-align: center;
                        color: $standard-text;
                        margin-right: 15px;
                        font-size: 32px;
                    }

                    flex-grow: 1;

                    h4, p {
                        margin: 0px;
                    }
                }
           } 
        }
    }

    .projects {
        .btn-create-project {
            display: block;
            margin-left: auto;
            margin-top: 30px;
        }

        .project-list {
            display: flex;
            flex-wrap: wrap;
            padding: 0.5rem 0rem;
            margin: 0rem -0.5rem;
        }

        .project-editor {
            padding: 1rem;
            margin: 0.5rem;
            position: relative;
            flex-grow: 0;
            flex-basis: calc(33.33% - 1rem);
            width: calc(33.33% - 1rem);
            color: $standard-text;
            background-color: $standard;
            transform-origin: center;
            transition: transform 0.25s ease;

            &.in {
                transform: scale(0);
            }           
 
            .btn-remove {
                padding: 0rem;
                position: absolute;
                right: 1rem;
                top: 1rem;
                display: block;
                color: material-color('red', '500');
            }

            .body {
                position: relative;
                display: flex;
                flex-direction: column;

                .info {
                    flex-grow: 1;

                    h4, h2 {
                        margin-top: 0px;
                    }
                }

                .admin {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }

                .environments {
                    margin: 15px -2px 0px 0px;
               
                    .btn-add {
                        display: block;
                        margin-top: 1em;
                        margin-left: auto;
                    }

                    .environment {
                        width: 100%;
                        margin-bottom: 15px;
                        display: flex;

                        &:last-of-type {
                            margin-bottom: 0px;
                        }

                        .btn-group {
                            width: 100%;
                        }

                        .dropdown {
                            .dropdown-toggle {
                                width: 30px;
                                line-height: 30px;
                                display: block;
                                height: 30px;
                                margin: 0px -5px 0px 5px;
                            }
                        }

                        .environment-title {
                            flex-grow: 1;
                        }

                        .btn-primary {
                            min-width: 0px;

                            .fa {
                                line-height: 30px;
                            }
                        }
                    }
                } 
            }
        }
    }
}
