.json-editor {
    width: 100%;
    height: 100%;
    position: relative;
    
    .CodeMirror {
        height: 100%;
        display: block;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .btn-prettify {
        position: absolute;
        top: calc(100% - 1em);
        right: 1em;
        transform: translateY(-100%)
    }

    .panel-danger {
        position: absolute;
        bottom: 0rem;
        width: calc(100% - 2rem);
        left: 1rem;
        border-radius: 0px;
        border: 0px;
        z-index: 20;

        .panel-heading {
            border-radius: 0px;
            border: 0px;
            background-color: material-color('red', '500');
            color: #fff;
            font-weight: 700;
        }

        .panel-body {
            border-radius: 0px;
            border: 0px;
        }
    }
}
