.json-editor {
    width: 100%;
    height: 100%;

    textarea {
        color: material-color('grey', '200');        
        background-color: material-color('grey', '900');        
        font-family: 'Roboto Mono';
        overflow: auto;
        display: block;
        border: 0px;
        resize: none;
    }
}
