@import '_colors';
@import '_theme';

// Flex classes
.flex-vertical {
    display: flex;
    flex-direction: column;

    .flex-expand {
        flex-grow: 1;
    }
}

.flex-horizontal {
    display: flex;
    flex-direction: row;

    .flex-expand {
        flex-grow: 1;
    }
}

// Sortable
.sortable-placeholder {
    border: 2px dashed material-color('grey', '100');
}

// About logo
.about-logo {
    color: material-color('green', '500');
}

// Spinner
@keyframes spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}

.spinner-obscure {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.spinner-container {
    position: relative;
    z-index: 20;

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: spinner;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        display: block;
        font-size: 32px;
    }
}

// Upload media modal
.modal-upload-media {
    .modal-body {
        .spinner-container {
            height: 100%;
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
        }

        img, video {
            display: block;
            max-height: 200px;
            max-width: 100%;
            margin: 0px auto;
        }
    }
}

// Main container
.cms-container {
    display: flex;
    height: 100%;
    
    &.fullscreen {
        .navspace {
            width: 50px;
            flex-basis: 50px;
        }
    }

    .navspace {
        overflow: hidden;
        width: 500px;
        flex-basis: 500px;
        flex-shrink: 0;
        height: 100%;
        transition: width 0.5s, flex-basis 0.5s;
    }
    
    .workspace {
        flex-grow: 1;
        height: 100%;

        .dashboard-container {
            padding: 30px;
            height: 100%;
            overflow-y: auto;
        }

        .editor {
            .field-container {
                display: flex;
                margin-bottom: 15px;
                
                .field-icon {
                    width: 20px;
                    flex-shrink: 0;

                    .fa {
                        line-height: 30px;
                    }
                }

                .field-key {
                    width: 200px;
                    line-height: 30px;
                    flex-shrink: 0;
                }

                .field-value {
                    flex-grow: 1;
             
                    button {
                        line-height: 20px;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding-left: 30px;
                        padding-right: 30px;
                    }

                    input, select, option, textarea, p {
                        font-size: 14px;
                    }

                    select {
                        option {
                            padding: 5px;
                        }
                    }

                    .date-editor {
                        height: 30px;
                        
                        p {
                            line-height: 30px;
                            margin: 0px;
                        }
                    }

                    .period-editor {
                        .input-group {
                            width: 300px;
                        
                            input {
                                text-align: center;
                            }
                        }

                        .arrow-middle {
                            padding: 5px;

                            span {
                                line-height: 20px;
                            }
                        }
                    }

                    .rich-text-editor {
                        margin: 0px;

                        .rte-output {
                            h1, h2, h3, h4, h5, h6 {
                                &:first-child {
                                    margin-top: 0px;
                                }   
                            }   
                            
                            height: 300px;
                            overflow-y: auto;
                        }

                        textarea {
                            height: 200px;
                            resize: none;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .panel-danger {
            margin: 0px;    
        }

        .panel-buttons {
            padding: 15px;
            margin: 0px;
            border-width: 0px;
            border-top-width: 1px;
            border-radius: 0px;

            .btn-group {
                float: right;

                .btn {
                    line-height: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 15px;
                    min-width: 110px;

                    &:last-child {
                        margin-right: 0px;
                    }
                    
                    span {
                        line-height: 20px;
                    
                        &.fa {
                            font-size: 18px;
                        }
                    }
                }
            }

            .btn-save {
                .text-saving {
                    display: none;
                }

                &.saving {
                    .text-default {
                        display: none;
                    }

                    .text-saving {
                        display: inline;
                    }
                }
            }
        }
    }
}
