.main-menu {
    display: flex;

    .main-menu-spacer {
        flex-grow: 1;
    }

    .main-menu-user {
        position: relative;

        .dropdown-menu {
            left: auto;
            right: 0px;
        }
    }

    .main-menu-item {
        position: relative;
        margin-left: 10px;
        width: 50px;

        >a, >button {
            text-decoration: none;
            color: material-color('grey', '500');
            position: relative;
            display: block;
            text-align: center;
            width: 100%;
            line-height: 20px;

            &:hover {
                color: material-color('grey', '600');
            }

            >label {
                line-height: 1em;
                cursor: pointer;
                font-size: 10px;
                display: block;
                z-index: 10;
                margin: 2px 0px 0px 0px;
            }

            >.fa {
                position: relative;
                z-index: 10;
                line-height: 20px;
                height: 20px;
                display: block;
                font-size: 16px;
            }
        }
    }
}
