.main-menu {
    display: flex;

    .main-menu-spacer {
        flex-grow: 1;
    }

    .main-menu-item {
        position: relative;
        margin: 0px;
        width: 30px;
        
        >a, >button {
            border: 0px;
            padding: 0px;
            background-color: transparent;
            text-decoration: none;
            position: relative;
            display: block;
            text-align: center;
            width: 100%;
            line-height: 20px;

            &, &:hover {
                color: $primary-text !important;
            }

            >.fa {
                position: relative;
                z-index: 10;
                line-height: 20px;
                height: 20px;
                display: block;
                font-size: 20px;
            }
        }

        .dropdown-menu {
            left: auto;
            right: 0px;
        }
    }
}
