@import '_colors';
@import '_fonts';

// ----------
// Animations
// ----------
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(359deg);
    }
}

html, body {
    height: 100%;
    font-family: 'Roboto';
    font-size: 12px;
}

// Bootstrap fixes
button, a {
    &, &:focus, &:hover, &:active, &:active:focus {
        outline: none !important;
    }
}

// Google material
@mixin set-button($class, $color) {
    &.btn-#{$class} {
        background-color: material-color($color, '500');
        border-color: material-color($color, '500');
    
        &:hover {
            background-color: material-color($color, '400');
            border-color: material-color($color, '400');
        }
        
        &:active {
            background-color: material-color($color, '600');
            border-color: material-color($color, '600');
        }
    }
}

// Buttons
.btn {
    border-radius: 0px;

    @include set-button('primary', 'blue');
    @include set-button('danger', 'red');

    &.btn-raised {
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
        position: relative;
        top: -2px;

        &:active {
            top: 0px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        } 
    }
}

// Button group
.btn-group {
    display: flex;

    &:after {
        content: '';
        clear: both;
    }

    .btn {
        display: block;
        flex-grow: 1;
    }
}

// Input
.form-control {
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// Tabs
.nav-tabs {
    padding: 18px 0px 0px 15px;
    background-color: material-color('blue', '500');
    font-size: 14px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;

    li:not(.active) {
        a {
            color: material-color('blue', '50');
            
            &, &:hover, &:focus {
                background-color: transparent;
                border: 0px;
            }
        }
    }
    
    li {
        a {
            border-radius: 0px;
        }
    }
}

// Switch
.switch {
    width: 30px;
    height: 10px;
    background-color: material-color('grey', '400');
    position: relative;
    border-radius: 50px;

    label {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 10%;
        cursor: pointer;
        background-color: material-color('grey', '100');
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.25s ease;
        transform: translate(-50%, -50%);
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked {
            & + label {
                left: 90%;
                background-color: material-color('blue', '500');
            }  
        }  
    }
}

// Flex classes
.flex-vertical {
    display: flex;
    flex-direction: column;

    .flex-expand {
        flex-grow: 1;
    }
}

.flex-horizontal {
    display: flex;
    flex-direction: row;

    .flex-expand {
        flex-grow: 1;
    }
}

// Main container
.endomon-cms-container {
    display: flex;
    height: 100%;
    
    .navspace {
        width: 500px;
        height: 100%;
    }
    
    .workspace {
        flex-grow: 1;
        height: 100%;

        .panel-danger {
            margin: 0px;    
        }

        .panel-buttons {
            padding: 15px;
            margin: 0px;
            border-width: 0px;
            border-top-width: 1px;
            border-radius: 0px;

            .btn-group {
                float: right;

                .btn {
                    line-height: 20px;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 15px;
                    width: 110px;

                    &:last-child {
                        margin-right: 0px;
                    }
                    
                    span {
                        line-height: 20px;
                    
                        &.fa {
                            font-size: 18px;
                        }
                    }
                }
            }

            .btn-save {
                .text-saving, .icon-saving {
                    display: none;
                }

                .icon-saving {
                    animation: rotate 1s infinite linear;
                }

                &.saving {
                    .text-default, .icon-default {
                        display: none;
                    }

                    .text-saving {
                        display: inline;
                    }

                    .icon-saving {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
