.media-browser {
    &.disabled {
        pointer-events: none;

        .modal-dialog {
            background-color: #fff;
                
            >div {
                opacity: 0.5;
            }
        }
    }

    .modal-dialog {
        width: calc(100% - 30px);
        max-width: 1040px;

        .modal-body {
            padding: 15px 0px;
        }

        .modal-footer {
            .form-control {
                float: left;
            }
        }

        .thumbnail-container {
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            max-height: 550px;
            padding: 0px 15px;

            .folder {
                width: 100%;
                flex-grow: 1;
                flex-basis: 100%;
                margin-top: 30px;

                .folder-heading {
                    h4 {
                        background-color: material-color('grey', '200');
                        margin: 0px;
                        padding: 10px 15px;
                        border-top-left-radius: 2px;
                        border-top-right-radius: 2px;
                        display: inline-block;

                        .fa { 
                            margin-right: 10px;
                        }
                    }
                }

                .folder-items {
                    display: flex;
                    flex-wrap: wrap;
                    background-color: material-color('grey', '200');
                    border-top-right-radius: 2px;
                    border-bottom-left-radius: 2px;
                    border-bottom-right-radius: 2px;
                }
            }

            .thumbnail {
                width: calc(25% - 2em);
                flex-grow: 0;
                margin: 1em;
                position: relative;
                overflow: hidden;

                img, video {
                    object-fit: cover;
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
