.media-viewer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;

    .panel-body {
        flex-grow: 1;
        position: relative;
    
        >* {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
