.media-viewer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;

    .media-heading {
        padding: 0px 15px;
    }

    .media-preview {
        flex-grow: 1;
        position: relative;
    
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 90%;
            max-height: 90%;
        }
    }

    .panel-buttons {
        input.form-control {
            float: left;
            width: 50%;
        }
    }
}
