.navspace {
    @media($sm) {
        overflow-x: hidden;

        &:not(.expanded) {
            width: 60px;
            flex-basis: 60px;

            .navbar-main {
                .tab-panes {
                    display: none;
                }
            }
        }
    }
    
    .navbar-main {
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;

        .tab-panes, .tab-buttons {
            transition: opacity 0.5s, width 0.5s;
            overflow-x: hidden;
        }
        
        .tab-buttons {
            width: 160px;
            height: 100%;
            position: relative;
            z-index: 10;

            @media($sm) {
                width: 60px;
            }

            button, a {
                background-color: transparent;
                width: 100%;
                height: 60px;
                color: material-color('grey', '700');
                padding: 0px;
                margin: 0px;
                border: none;
                border-radius: 0px;
                clear: both;
                position: relative;
                display: block;

                &[data-route="about"] {
                    font-weight: bold;
                }

                &.active, &:hover {
                    background-color: rgba(0, 0, 0, 0.03);

                    .pane-text {
                        .pane-label {
                            font-weight: 700;
                        }
                    }
                }
                
                .pane-icon {
                    width: 60px;
                    height: 60px;
                    float: left;
                    text-align: center;

                    .logo {
                        margin-top: 15px;
                    }

                    .fa {
                        margin: 0px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        font-size: 20px;
                        width: 60px;
                        display: block;
                    }
                }

                .pane-text {
                    height: 60px;
                    width: 100px;
                    display: flex;
                    float: left;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: left;

                    @media($sm) {
                        display: none;
                    }

                    .pane-label, .pane-sublabel {
                        display: block;
                        width: 100%;
                    }

                    .pane-sublabel {
                        line-height: 10px;
                        height: 10px;
                        opacity: 0.5;
                        font-size: 10px;
                    }
                }
            }
        }

        .tab-panes {
            height: 100%;
            flex-grow: 1;
            background-color: rgba(0, 0, 0, 0.03);
            position: relative;
            z-index: 5;

            .pane-container {
                display: none;
                height: 100%;

                &.active {
                    display: block;
                    
                    &[data-dragdrop-hovering="true"] {
                        .pane {
                            .pane-item-container:hover {
                                >.children {
                                    min-height: 60px;
                                    display: block;
                                }
                            }
                        }
                    }

                }

                .pane {
                    margin: 0px;
                    height: 100%;
                    width: 100%;
                    border: none;
                    overflow-y: auto;

                    .pane-item-container {
                        border-bottom: 1px solid material-color('grey', '300');

                        &.active {
                            >.pane-item {
                                border-right: 5px solid material-color('blue', '600');
                                font-weight: 700;
                                color: material-color('grey', '800');
                               
                                .fa {
                                    color: material-color('blue', '600');
                                }

                                .btn-children-toggle {
                                    right: 0px;
                                }
                            }
                        }

                        &.open {
                            >.pane-item {
                                border-bottom: 1px solid material-color('grey', '300');

                                .btn-children-toggle {
                                    .fa-caret-right {
                                        display: none;
                                    }
                                }
                            }

                            >.children {
                                display: block;
                            }
                        }

                        &:not(.open) {
                            >.pane-item {
                                .btn-children-toggle {
                                    .fa-caret-down {
                                        display: none;
                                    }
                                }
                            }
                            
                            >.children {
                                display: none;
                            }
                        }

                        .pane-item {
                            color: material-color('grey', '700');
                            display: block;
                            border-radius: 0px;
                            border: none;
                            margin: 0px;
                            height: 60px;
                            padding: 0px 15px;
                            clear: both;
                            cursor: pointer;
                            position: relative;

                            &, &:focus, &:hover, &:active {
                                text-decoration: none;
                            }

                            &:hover {
                                border-right: 5px solid material-color('grey', '500');
                                font-weight: 700;
                                color: material-color('grey', '800');

                                .btn-children-toggle {
                                    right: 0px;
                                }
                            }

                            .btn-children-toggle {
                                position: absolute;
                                top: 0px;
                                right: 5px;
                                height: 100%;
                                width: 32px;
                                padding: 0px;
                                background-color: transparent;
                                border: none;

                                .fa {
                                    margin: 0px;
                                    display: block;
                                    width: 100%;
                                }
                            }   

                            span {
                                height: 60px;
                                line-height: 60px;
                                display: block;
                                float: left;

                                &.fa {
                                    margin-right: 15px;
                                }
                            }
                        }

                        .children {
                            .pane-item-container {
                                padding-left: 15px;

                                &:last-child {
                                    border-bottom: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
