.navbar-main {
    display: flex;
    height: 100%;
    width: 100%;

    .tab-buttons {
        width: 200px;
        height: 100%;
        background-color: $darkest-grey;

        button {
            display: block;
            width: 200px;
            height: 60px;
            background-color: $darkest-grey;
            color: $lightest-grey;
            padding: 0px;
            margin: 0px;
            border: none;
            border-radius: 0px;
            clear: both;

            &.active, &:hover {
                background-color: $darker-grey;
            }

            span {
                margin: 0px;
                height: 60px;
                line-height: 60px;
                display: block;
                float: left;
            
                &.fa {
                    text-align: center;
                    font-size: 24px;
                    width: 60px;
                    display: block;
                }

                &:not(.fa) {
                    flex-grow: 1;
                }
            }
        }
    }

    .tab-panes {
        height: 100%;
        flex-grow: 1;
        background-color: $darker-grey;

        .pane {
            margin: 0px;
            height: 100%;
            width: 100%;
            display: none;
            border-right: 1px solid $light-grey;

            &.active {
                display: block;
            }

            .pane-item {
                display: block;
                border-radius: 0px;
                border: none;
                border-bottom: 1px solid $dark-grey;
                color: $lightest-grey;
                background-color: $darker-grey;
                margin: 0px;
                height: 60px;
                padding: 0px 15px;
                clear: both;

                &, &:focus, &:hover, &:active {
                    text-decoration: none;
                }

                &.active {
                    background-color: $lightest-grey;
                    color: $darker-grey;
                }

                span {
                    height: 60px;
                    line-height: 60px;
                    display: block;
                    float: left;

                    &.fa {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
