.page-editor {
    height: 100%;

    >.object {
        display: flex;
        flex-direction: column;
        height: 100%;

        >.tab-content {
            flex-grow: 1;
            overflow-y: auto;
        }
    }

    .object {
        .nav-tabs {
            padding: 18px 0px 0px 15px;
            background-color: material-color('blue', '500');
            font-size: 14px;
            position: relative;
            font-weight: bold;
            text-transform: uppercase;

            li:not(.active) {
                a {
                    color: material-color('blue', '50');
                    
                    &, &:hover, &:focus {
                        background-color: transparent;
                        border: 0px;
                    }
                }
            }
        }

        .tab-content {
            padding: 15px;
        }

        .field-container {
            display: flex;
            margin-bottom: 15px;

            .field-key {
                width: 200px;
                line-height: 30px;
            }

            .field-value {
                flex-grow: 1;
         
                button {
                    line-height: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding-left: 30px;
                    padding-right: 30px;
                }

                input, select, option, textarea, button {
                    font-size: 12px;
                }

                .period-editor {
                    width: 100px;

                    .arrow-middle {
                        padding: 5px;

                        span {
                            line-height: 20px;
                        }
                    }
                }

                .rich-text-editor {
                    margin: 0px;

                    .rte-output {
                        h1, h2, h3, h4, h5, h6 {
                            &:first-child {
                                margin-top: 0px;
                            }   
                        }   
                        
                        height: 300px;
                        overflow-y: auto;
                    }

                    textarea {
                        height: 200px;
                        resize: none;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
