@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

html, body {
    height: 100%;
    font-family: 'Roboto';
    font-size: 13px;
    background-color: material-color('grey', '200');
}

// Colours
.txt-primary { color: $primary; }
.txt-secondary { color: $secondary; }
.bg-primary { background-color: $primary; }
.bg-secondary { background-color: $secondary; }

// Typography
a {
    color: $primary;
}

// Dragdrop
#dragdrop-placeholder, *[data-dragdrop-unsorted="true"][data-dragdrop-hovering="true"] {
    border: 2px dashed $primary;
}

// Bootstrap fixes
button, a {
    &, &:focus, &:hover, &:active, &:active:focus {
        outline: none !important;
    }
}

/**
 * Colour a button
 */
@mixin set-button-color($class, $color) {
    &.btn-#{$class} {
        background-color: $color;
        border-color: $color;
    
        &:hover {
            background-color: lighten($color, 6);
            border-color: lighten($color, 6);
        }
        
        &:active {
            background-color: darken($color, 6);
            border-color: darken($color, 6);
        }
    }
}

// Carousel
.carousel {
    .carousel-indicators {
        bottom: 20px;
        opacity: 0.75;

        li {
            border: 0px;
            background-color: material-color('grey', '200');
            margin: 5px;
            transition: background-color 0.25s ease;
            width: 14px;
            height: 14px;
            
            &.active {
                background-color: material-color('grey', '600');
                margin: 5px;
                width: 14px;
                height: 14px;
            }
        }
    }

    .carousel-control {
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0; 

        &:hover {
            opacity: 1;
        }
       
        &.left {
            align-items: flex-start;

            .fa {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }
        
        &.right {
            align-items: flex-end;

            .fa {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
        }

        .fa {
            width: 60px;
            padding: 15px;
            text-shadow: none;
            color: $primary;
        }
    }
}

// Dropdown
.dropdown {
    &.open {
        .dropdown-toggle {
            position: relative;

            &, &:focus {
                color: material-color('grey', '600');
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: material-color('grey', '300'); 
            }

            span {
                position: relative;
                z-index: 2;
            }
        }
    }

    &.typeahead {
        display: inline-block;

        &.open {
            .dropdown-toggle {
                &:before {
                    display: none;
                }
            }
        }

        .form-control {
            max-width: none;
        }

        .dropdown-toggle {
            font-size: 14px;
            text-transform: none;
            font-weight: normal;
            text-align: left;
            padding: 0px 24px 0px 10px;
            position: relative;

            &, &:hover, &:focus {
                color: #fff;
            }

            &:after {
                font-family: 'FontAwesome';
                content: '\f0d7';
                position: absolute;
                right: 10px;
            }

            .fa, .caret {
                position: absolute;
                right: 10px;
                top: 13px;
                margin-left: 5px;
            }
        }

        .dropdown-typeahead {
            position: relative;
            margin-bottom: 5px;

            .dropdown-typeahead-btn-clear {
                border: 0px;
                background-color: transparent;
                opacity: 0.5;
                position: absolute;
                right: 0px;
                top: 8px;
                padding: 0px;
                z-index: 20;
            }
        }

        .dropdown-menu {
            left: 0px;
            right: auto;
            padding: 10px !important;
            min-width: 200px;
            
            ul {
                max-height: 200px;
                overflow-y: auto;
                width: 100%;
                
                li {
                    button {
                        background-color: transparent;
                        padding: 0px 20px 0px 0px;
                        line-height: 30px;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .dropdown-toggle {
        letter-spacing: normal;
        color: material-color('grey', '400');
        border: 0px;
        background-color: transparent;
        font-size: 1.5rem;

        &:hover {
            color: material-color('grey', '600');
        }
    }

    .btn.dropdown-clear {
        color: material-color('red', '600');
        padding: 6px;
    }

    .dropdown-menu {
        @extend .raised;
        padding: 10px 0px !important;
        border: 1px solid material-color('grey', '100');
        border-radius: 2px;
        color: material-color('grey', '800');
        left: auto;
        right: 0px;
        min-width: auto;

        &, ul {
            >li {
                list-style-type: none;

                &.active {
                    >a, >button {
                        background-color: transparent;
                        color: material-color('grey', '800');
                        position: relative;
                        
                        &:hover {
                            background-color: material-color('grey', '200');
                        }

                        &:after {
                            font-family: 'FontAwesome';
                            content: '\f00c';
                            position: absolute;
                            right: 4px;
                        }
                    }
                }

                >a, >button {
                    padding: 3px 20px;
                    border: 0px;
                    color: material-color('grey', '600');
                    display: block;
                    width: 100%;
                    text-align: left;

                    &:hover {
                        background-color: material-color('grey', '200');
                    }
                }
            }
        }
        
        ul {
            padding: 0px;
            margin: 0px -10px 0px 0px;
        }
    }
}

// Round button group
.btn-round-group {
    width: 45px;

    &:hover {
        .btn-group-addon {
            transform: scale(1);
        }   
        
        .btn {
            .btn-icon-display {
                opacity: 1;
                transform: translate(-50%, -50%) rotate(0deg);
            }
            
            .btn-icon-initial {
                opacity: 0;
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
    }

    .btn {
        display: block;
        position: relative;
        
        &:hover {
            label {
                display: block;
            }
        }

        label {
            display: none;
            position: absolute;
            margin: 0px;
            top: 50%;
            left: -10px;
            transform: translate(-100%, -50%);
            font-size: 12px;
            border-radius: 2px;
            color: material-color('grey', '100');
            background-color: material-color('grey', '600');
            padding: 5px 10px;
            text-transform: none;
            line-height: 1em;
            max-width: none;
        }
        
        .btn-icon-initial,
        .btn-icon-display {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.25s ease, transform 0.25s ease;
        }

        .btn-icon-initial {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg);
        }
        
        .btn-icon-display {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(-180deg);
        }
    }

    .btn-group-addon {
        transform: scale(0);
        margin-bottom: 10px;
        transition: transform 0.25s ease;
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
        margin-left: 5px;
        margin-right: 5px;

        .fa {
            font-size: 13px;
        }
    }
}

// Chips
.chip-group {
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .chip {
        margin: 0px 4px 4px 0px;
        height: 32px;
        line-height: 32px;
        padding: 0px 4px;
        border-radius: 16px;
        background-color: $primary;
        display: inline-block;

        input.chip-label {
            max-width: 100px;
        }
        
        .chip-label {
            margin: 0px 8px 0px 8px;
            height: 32px;
            line-height: 32px;
            background-color: transparent;
            border: 0px;
            padding: 0px;
            display: inline;
            width: auto;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #fff;

            &.dropdown {
                margin-right: 0px;

                &.open {
                    .dropdown-toggle {
                        &:before {
                            content: none;
                        }
                    }
                }

                .dropdown-menu {
                    max-height: 300px;
                    overflow-y: auto;
                }

                .dropdown-toggle {
                    letter-spacing: normal;
                    background: none;
                    border: 0px;
                    padding: 0px;
                    margin: 0px;
                    font-size: 14px;
                    color: #fff;

                    &:after {
                        content: '\f0d7';
                        font-family: 'FontAwesome';
                        margin-left: 5px;
                    }

                    .fa {
                        margin-left: 0.5em;
                    }
                }
            }
        }

        .chip-remove {
            margin: 0px 2px 0px 4px;
            background-color: transparent;
            padding: 0px !important;
            height: 16px;
            line-height: 16px;
            width: 16px;
            position: relative;
            top: -2px;
            border-radius: 50%;

            &:hover {
                background-color: #fff;

                .fa {
                    color: $primary;
                }
            }

           .fa {
                color: #fff;
           } 
        }
    }

    .chip-add {
        margin: 0px 0px 4px 0px;
        height: 32px;
        width: 32px;
        line-height: 32px;
        border-radius: 16px;
        background-color: $primary;
        display: inline-block;
        padding: 0px !important;
        position: relative;

        &:first-child {
            margin-left: 0px;
        }

        .fa {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
    }
}

// Containers
.raised {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 15px 30px;
}

.sunken {
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

// Thumbnails
.thumbnail {
    background-position: center;
    background-size: cover;
    border: 0px;
    outline: 5px solid transparent;
    border-radius: 0px;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: material-color('grey', '300');
    position: relative;

    &:not([style]), &[style=""] {
        &:before {
            content: '\f1c5';
            transform: translate(-50%, -50%);
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            font-family: 'FontAwesome';
            font-size: 60px;
            color: material-color('grey', '500');
        }
    }

    label {
        min-height: 41.5px;
        pointer-events: none;
        position: absolute;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-color: #fff;
        color: material-color('grey', '800');
        margin: 0px;
        padding: 1em 0.8em;
    }

    &.active {
        outline: 5px solid $primary !important;
        z-index: 2;
    }
}

// Login panel
.panel-login {
    margin: 0px auto;
    width: 300px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: material-color('grey', '100');

    .panel-heading {
        text-align: center;
        padding-top: 30px;

        .login-icon {
            background-color: material-color('blue', '100');
            margin: 0px auto;
            text-align: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;

            .fa {
                line-height: 80px;
                font-size: 48px;
                color: $primary;
             }
        }
    }

    .panel-body {
        .spinner-container {
            background-color: transparent;
            min-height: 100px;
            height: auto;
        }
    }

    .btn {
        margin-top: 15px;
        display: block;
        width: 100%;
    }
}

// Modal
.modal {
    &.large {
        .modal-dialog {
            width: 80%;
            height: 80%;
            max-width: 600px;

            .modal-content {
                min-height: 100%;
            }
        }
    }

    .modal-dialog {
        max-width: 500px;

        .modal-content {
            border-radius: 0px;
            display: flex;
            flex-direction: column;

            .modal-header {
                border-bottom: 0px;
            }
            
            .modal-body {
                flex-grow: 1;
            }

            .modal-footer {
                border-top: 0px;
            }
        }
    }
}

// Input
.form-control {
    min-width: 110px;
    resize: none;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    
    &, &:active, &:focus, &[readonly] {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
        border-bottom: 2px solid $primary;
        padding-left: 0px;
        padding-right: 0px;

        &[readonly] {
            border-bottom: 0px;
        }
    }

    &[type="text"], &[type="email"], &[type="password"] {
        max-width: 400px;
    }
    
    &[type="number"] {
        max-width: 100px;
    }

    &[type="color"] {
        max-width: 110px;
        padding: 0px;
        border-bottom: 0px;
        cursor: pointer;
        border-radius: 2px;
    }
}

textarea.form-control {
    max-width: 400px;
}

select.form-control {
    &, &:active, &:focus, &[readonly] {
        border-bottom: 0px;
        background-color: $primary;
        color: #fff;
        cursor: pointer;
        width: auto !important;
        padding: 0px 30px 0px 10px;
        border-radius: 2px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('/svg/fa/angle-down.svg');
        background-size: auto 20px;
        background-repeat: no-repeat;
        background-position: top 50% right 10px;
        height: 30px;
        line-height: 30px;

        option {
            cursor: pointer;

            &:hover {
                background-color: $primary-light;
            }
        }
    }
}

.input-group {
    display: flex;

    .input-group-addon {
        width: auto;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
    }
    
    .input-group-btn {
        padding-left: 15px;
        width: auto;

        &:last-child {
            >.btn {
                border-radius: 2px;
            }
        }
    }
}

// Context menu
.context-menu {
    border-radius: 0px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

// Buttons
a.btn {
    &.btn-primary, &.btn-default, &.btn-danger, &.btn-success {
        line-height: 30px;
    }
}

.btn {
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

    &.btn-primary, &.btn-default, &.btn-danger, &.btn-success {
        min-width: 110px;
        height: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
    } 

    &.btn-small {
        min-width: 0px;
    }

    @include set-button-color('primary', $primary);
    @include set-button-color('danger', material-color('red', '600'));
    @include set-button-color('success', material-color('green', '600'));

    &:active {
        box-shadow: none;
    }

    &.btn-primary {
        background-color: $primary;
        border-color: $primary;
    }

    &.btn-right {
        display: block;
        margin-left: auto;
    }
    
    &.btn-left {
        display: block;
        margin-right: auto;
    }

    &.btn-round {
        padding: 0px !important;
        width: 45px;
        height: 45px;
        min-width: auto;
        min-height: auto;
        line-height: 45px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 100;
    }

    &.btn-raised {
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
        position: relative;

        &:active {
            top: 2px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        } 
    }

    &.btn-embedded {
        background-color: transparent;
        border: 0px;
        color: $primary;

        &.btn-embedded-danger {
            color: material-color('red', '600');
        }
    }
    
    &.btn-remove {
        background-color: transparent;
        border: 0px;
        color: material-color('red', '500');
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 6px;
    }

}

// Button group
.btn-group {
    display: flex;

    .btn {
        flex-grow: 0;

        &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
            border-radius: 2px;
        }
    }

    .btn-group-addon {
        min-width: 40px;
        padding: 6px;
    }
}

// Tabs
.nav-tabs {
    padding: 18px 0px 0px 15px;
    background-color: $primary;
    font-size: 14px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;

    li {
        &.active {
            a, a:hover, a:focus {
                color: #fff;
                border: 0px;
                background-color: transparent;
                border-bottom: 5px solid $secondary-lightest;
            }
        }

        &:not(.active) {
            a {
                &, &:hover, &:focus {
                    color: $secondary-lightest;
                    background-color: transparent;
                    border: 0px;
                }
            }
        }

        a {
            border-radius: 0px;
            margin-bottom: 1px;
        }
    }
}

// Switch
.switch {
    width: 30px;
    height: 10px;
    margin: 10px 0px;
    background-color: material-color('grey', '400');
    position: relative;
    border-radius: 50px;

    label {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 10%;
        cursor: pointer;
        background-color: material-color('grey', '100');
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.25s ease;
        transform: translate(-50%, -50%);
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked {
            & + label {
                left: 90%;
                background-color: $primary;
            }  
        }  
    }
}

