@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

html, body {
    height: 100%;
    font-family: 'Roboto';
    font-size: 12px;
    background-color: material-color('grey', '200');
}

// Bootstrap fixes
button, a {
    &, &:focus, &:hover, &:active, &:active:focus {
        outline: none !important;
    }
}

/**
 * Colour a button
 */
@mixin set-button-color($class, $color) {
    &.btn-#{$class} {
        background-color: material-color($color, '500');
        border-color: material-color($color, '500');
    
        &:hover {
            background-color: material-color($color, '400');
            border-color: material-color($color, '400');
        }
        
        &:active {
            background-color: material-color($color, '600');
            border-color: material-color($color, '600');
        }
    }
}

// Dropdown
.dropdown {
    &.open {
        .dropdown-toggle {
            color: material-color('grey', '600');
            position: relative;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: material-color('grey', '300'); 
            }

            span {
                position: relative;
                z-index: 2;
            }
        }
    }

    &.typeahead {
        .form-control {
            max-width: none;
        }

        .dropdown-menu {
            width: 100%;
        }
    }

    .dropdown-toggle {
        color: material-color('grey', '400');
        border: 0px;
        background-color: transparent;
        font-size: 1.5rem;

        &:hover {
            color: material-color('grey', '600');
        }
    }

    .dropdown-menu {
        @extend .raised;
        padding: 10px 0px !important;
        border: 1px solid material-color('grey', '100');
        border-radius: 2px;
        color: material-color('grey', '800');
        left: auto;
        right: 0px;
        min-width: auto;

        >li {
            &.active {
                >a {
                    background-color: transparent;
                    color: material-color('grey', '800');
                    
                    &:hover {
                        background-color: material-color('grey', '200');
                    }

                    &:after {
                        font-family: 'FontAwesome';
                        content: '\f00c';
                        margin-left: 10px;
                    }
                }
            }

            >a {
                padding: 3px 20px;

                &:hover {
                    background-color: material-color('grey', '200');
                }
            }
        }
    }
}

// Round button group
.btn-round-group {
    width: 45px;

    &:hover {
        .btn-group-addon {
            transform: scale(1);
        }   
        
        .btn {
            .btn-icon-display {
                opacity: 1;
                transform: translate(-50%, -50%) rotate(0deg);
            }
            
            .btn-icon-initial {
                opacity: 0;
                transform: translate(-50%, -50%) rotate(-90deg);
            }
        }
    }

    .btn {
        display: block;
        position: relative;
        
        &:hover {
            label {
                display: block;
            }
        }

        label {
            display: none;
            position: absolute;
            margin: 0px;
            top: 50%;
            left: -10px;
            transform: translate(-100%, -50%);
            font-size: 12px;
            border-radius: 2px;
            color: material-color('grey', '100');
            background-color: material-color('grey', '600');
            padding: 5px 10px;
            text-transform: none;
            line-height: 1em;
            max-width: none;
        }
        
        .btn-icon-initial,
        .btn-icon-display {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity 0.25s ease, transform 0.25s ease;
        }

        .btn-icon-initial {
            opacity: 1;
            transform: translate(-50%, -50%) rotate(0deg);
        }
        
        .btn-icon-display {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(-180deg);
        }
    }

    .btn-group-addon {
        transform: scale(0);
        margin-bottom: 10px;
        transition: transform 0.25s ease;
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
        margin-left: 5px;
        margin-right: 5px;

        .fa {
            font-size: 13px;
        }
    }
}

// Chips
.chip-group {
    .chip {
        margin: 0px 0px 4px 8px;
        height: 32px;
        line-height: 32px;
        padding: 0px 4px;
        border-radius: 16px;
        background-color: material-color('blue', '600');
        display: inline-block;

        &:first-child {
            margin-left: 0px;
        }

        input.chip-label {
            max-width: 100px;
        }
        
        .chip-label {
            margin: 0px 8px 0px 8px;
            height: 32px;
            line-height: 32px;
            background-color: transparent;
            border: 0px;
            padding: 0px;
            display: inline;
            width: auto;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #fff;

            &.dropdown {
                &.open {
                    .dropdown-toggle {
                        &:before {
                            content: none;
                        }
                    }
                }

                .dropdown-toggle {
                    background: none;
                    border: 0px;
                    padding: 0px;
                    margin: 0px;
                    font-size: 14px;
                    color: #fff;

                    .fa {
                        margin-left: 0.5em;
                    }
                }
            }
        }

        .chip-remove {
            margin: 0px 0px 0px 4px;
            background-color: transparent;
            padding: 0px !important;
            height: 32px;
            width: 24px;
            position: relative;
            top: -2px;

           .fa {
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
           } 
        }
    }

    .chip-add {
        margin: 0px 0px 4px 8px;
        height: 32px;
        width: 32px;
        line-height: 32px;
        border-radius: 16px;
        background-color: material-color('blue', '600');
        display: inline-block;
        padding: 0px !important;
        position: relative;

        .fa {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 
    }
}

// Containers
.raised {
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 15px 30px;
}

// Thumbnails
.thumbnail {
    background-position: center;
    background-size: cover;
    border: 0px;
    outline: 5px solid transparent;
    border-radius: 0px;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: material-color('grey', '300');
    position: relative;

    &:not([style]), &[style=""] {
        &:before {
            content: '\f1c5';
            transform: translate(-50%, -50%);
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            font-family: 'FontAwesome';
            font-size: 60px;
            color: material-color('grey', '500');
        }
    }

    label {
        min-height: 41.5px;
        pointer-events: none;
        position: absolute;
        left: 0px;
        bottom: 0px;
        right: 0px;
        background-color: #fff;
        color: material-color('grey', '800');
        margin: 0px;
        padding: 1em 0.8em;
    }

    &.active {
        outline: 5px solid material-color('blue', '600') !important;
        z-index: 2;
    }
}

// Login panel
.panel-login {
    margin: 0px auto;
    width: 300px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: material-color('grey', '100');

    .panel-heading {
        text-align: center;
        padding-top: 30px;

        .login-icon {
            background-color: material-color('blue', '100');
            margin: 0px auto;
            text-align: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;

            .fa {
                line-height: 80px;
                font-size: 48px;
                color: material-color('blue', '600');
             }
        }
    }

    .panel-body {
        .spinner-container {
            background-color: transparent;
            min-height: 100px;
            height: auto;
        }
    }

    .btn {
        margin-top: 15px;
        display: block;
        width: 100%;
    }
}

// Modal
.modal {
    &.large {
        .modal-dialog {
            width: 80%;
            height: 80%;
            max-width: 600px;

            .modal-content {
                min-height: 100%;
            }
        }
    }

    .modal-dialog {
        max-width: 500px;

        .modal-content {
            border-radius: 0px;
            display: flex;
            flex-direction: column;

            .modal-header {
                border-bottom: 0px;
            }
            
            .modal-body {
                flex-grow: 1;
            }

            .modal-footer {
                border-top: 0px;
            }
        }
    }
}

// Input
.form-control {
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    
    &, &:active, &:focus, &[readonly] {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
        border-bottom: 2px solid material-color('blue', '600');
        padding-left: 0px;
        padding-right: 0px;

        &[readonly] {
            border-bottom: 0px;
        }
    }

    &[type="text"] {
        max-width: 400px;
    }
    
    &[type="number"] {
        max-width: 100px;
    }

    &[type="color"] {
        max-width: 110px;
        padding: 0px;
        border-bottom: 0px;
        cursor: pointer;
        border-radius: 2px;
    }
}

select.form-control {
    &, &:active, &:focus, &[readonly] {
        border-bottom: 0px;
        background-color: material-color('blue', '600');
        color: #fff;
        cursor: pointer;
        width: auto;
        padding: 0px 30px 0px 10px;
        border-radius: 2px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('/svg/fa/angle-down.svg');
        background-size: auto 20px;
        background-repeat: no-repeat;
        background-position: top 50% right 10px;
        height: 30px;
        line-height: 30px;

        option {
            cursor: pointer;

            &:hover {
                background-color: material-color('blue', '400');
            }
        }
    }
}

.input-group {
    .input-group-addon {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
    }
    
    .input-group-btn {
        padding-left: 15px;

        &:last-child {
            >.btn {
                border-radius: 2px;
            }
        }
    }
}

// Context menu
.context-menu {
    border-radius: 0px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

// Buttons
a.btn {
    &.btn-primary, &.btn-default, &.btn-danger, &.btn-success {
        line-height: 30px;
    }
}

.btn {
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

    &.btn-primary, &.btn-default, &.btn-danger, &.btn-success {
        min-width: 110px;
        height: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
    } 

    @include set-button-color('primary', 'blue');
    @include set-button-color('danger', 'red');
    @include set-button-color('success', 'green');

    &:active {
        box-shadow: none;
    }

    &.btn-primary {
        background-color: material-color('blue', '600');
        border-color: material-color('blue', '600');
    }

    &.btn-right {
        display: block;
        margin-left: auto;
    }
    
    &.btn-left {
        display: block;
        margin-right: auto;
    }

    &.btn-round {
        padding: 0px !important;
        width: 45px;
        height: 45px;
        min-width: auto;
        min-height: auto;
        line-height: 45px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 100;
    }

    &.btn-raised {
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
        position: relative;
        top: -2px;

        &:active {
            top: 0px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        } 
    }

    &.btn-embedded {
        background-color: transparent;
        border: 0px;
        color: material-color('blue', '600');
    }
    
    &.btn-remove {
        background-color: transparent;
        border: 0px;
        color: material-color('red', '500');
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 6px;
    }

}

// Button group
.btn-group {
    display: flex;

    .btn {
        flex-grow: 0;

        &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
            border-radius: 2px;
        }
    }

    .btn-group-addon {
        min-width: 40px;
        padding: 6px;
    }
}

// Tabs
.nav-tabs {
    padding: 18px 0px 0px 15px;
    background-color: material-color('blue', '600');
    font-size: 14px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;

    li {
        &.active {
            a, a:hover, a:focus {
                color: #fff;
                border: 0px;
                background-color: transparent;
                border-bottom: 5px solid material-color('blue', '300');
            }
        }

        &:not(.active) {
            a {
                &, &:hover, &:focus {
                    color: material-color('blue', '100');
                    background-color: transparent;
                    border: 0px;
                }
            }
        }

        a {
            border-radius: 0px;
            margin-bottom: 1px;
        }
    }
}

// Switch
.switch {
    width: 30px;
    height: 10px;
    background-color: material-color('grey', '400');
    position: relative;
    border-radius: 50px;

    label {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 10%;
        cursor: pointer;
        background-color: material-color('grey', '100');
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.25s ease;
        transform: translate(-50%, -50%);
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked {
            & + label {
                left: 90%;
                background-color: material-color('blue', '600');
            }  
        }  
    }
}

