@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

html, body {
    height: 100%;
    font-family: 'Roboto';
    font-size: 12px;
}

// Bootstrap fixes
button, a {
    &, &:focus, &:hover, &:active, &:active:focus {
        outline: none !important;
    }
}

/**
 * Colour a button
 */
@mixin set-button-color($class, $color) {
    &.btn-#{$class} {
        background-color: material-color($color, '500');
        border-color: material-color($color, '500');
    
        &:hover {
            background-color: material-color($color, '400');
            border-color: material-color($color, '400');
        }
        
        &:active {
            background-color: material-color($color, '600');
            border-color: material-color($color, '600');
        }
    }
}

// Login panel
.panel-login {
    margin: 0px auto;
    width: 300px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: material-color('grey', '100');

    .panel-heading {
        text-align: center;
        padding-top: 30px;

        .login-icon {
            background-color: material-color('blue', '100');
            margin: 0px auto;
            text-align: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: inline-block;

            .fa {
                line-height: 80px;
                font-size: 48px;
                color: material-color('blue', '500');
             }
        }
    }

    .panel-body {
        .spinner-container {
            background-color: transparent;
            min-height: 100px;
            height: auto;
        }
    }

    .btn {
        margin-top: 15px;
        display: block;
        width: 100%;
    }
}

// Modal
.modal {
    .modal-dialog {
        max-width: 500px;

        .modal-content {
            border-radius: 0px;

            .modal-header {
                border-bottom: 0px;
            }
            
            .modal-footer {
                border-top: 0px;

                .btn {
                    background-color: transparent;
                    border: 0px;
                    color: material-color('blue', '500');
                }
            }
        }
    }
}

// Input
.form-control {
    &, &:active, &:focus {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
        border-bottom: 2px solid material-color('blue', '500');
        padding-left: 0px;
        padding-right: 0px;
    }
}

.input-group {
    .input-group-addon {
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        border: 0px;
    }
    
    .input-group-btn {
        padding-left: 15px;
    }
}

// Context menu
.context-menu {
    border-radius: 0px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

// Buttons
.btn {
    border-radius: 0px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

    @include set-button-color('primary', 'blue');
    @include set-button-color('danger', 'red');
    @include set-button-color('success', 'green');

    &:active {
        box-shadow: none;
    }

    &.btn-raised {
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
        position: relative;
        top: -2px;

        &:active {
            top: 0px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        } 
    }
}

// Button group
.btn-group {
    display: flex;

    &:after {
        content: '';
        clear: both;
    }

    .btn {
        display: block;
        flex-grow: 1;
    }
}

// Input
.form-control {
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// Tabs
.nav-tabs {
    padding: 18px 0px 0px 15px;
    background-color: material-color('blue', '500');
    font-size: 14px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;

    li:not(.active) {
        a {
            color: material-color('blue', '50');
            
            &, &:hover, &:focus {
                background-color: transparent;
                border: 0px;
            }
        }
    }
    
    li {
        a {
            border-radius: 0px;
        }
    }
}

// Switch
.switch {
    width: 30px;
    height: 10px;
    background-color: material-color('grey', '400');
    position: relative;
    border-radius: 50px;

    label {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 10%;
        cursor: pointer;
        background-color: material-color('grey', '100');
        border-radius: 50px;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.25s ease;
        transform: translate(-50%, -50%);
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked {
            & + label {
                left: 90%;
                background-color: material-color('blue', '500');
            }  
        }  
    }
}

