.modal-user-editor {
    .modal-dialog {
        max-width: 800px;
    }
    
    .user-editor {
        padding: 0px 34px;

        .project {
            .switch {
                float: right;
            }
        }

        .field-container {
            display: flex;
            margin-bottom: 30px;
         
            &:last-child {
                margin-bottom: 0px;
            }
            
            .field-key {
                width: 200px;
                line-height: 30px;
                flex-shrink: 0;
            }

            .field-value {
                flex-grow: 1;
            }
        }

        .password-editor {
            &.invalid {
                .invalid-message {
                    display: block;
                }
            }

            .invalid-message {
                display: none;
                position: absolute;
                left: 15px;
                margin-top: 30px;
                padding: 5px 10px;
                background-color: material-color('red', '600');
                color: #fff;
                border-radius: 2px;
                font-weight: 700;
            }
        }
    }
}
