.user-editor {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    >.user {
        flex-grow: 1;
        overflow-y: auto;
        padding: 15px;

        .password-editor {
            &.invalid {
                .invalid-message {
                    display: block;
                }
            }

            .invalid-message {
                display: none;
                position: absolute;
                left: 15px;
                margin-top: 30px;
                padding: 5px 10px;
                background-color: material-color('red', '600');
                color: #fff;
                border-radius: 2px;
                font-weight: 700;
            }
        }
    }
}
