.dashboard-container.welcome {
    .carousel {
        @extend .raised;
        padding: 0px;
        margin: 30px auto;
        max-width: 800px;

        .item {
            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                height: 100%;
                background-color: material-color('blue', '600');
                color: #fff;

                img {
                    position: absolute;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    opacity: 0.25;
                }

                p, h2 {
                    position: relative;
                    z-index: 20;
                    max-width: 300px;
                    text-align: justify;
                }
            }
        } 
    }
}
