/**
 * Global editor styling
 */
.editor {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;

    // Locked state
    &.locked &__body__tab > &__field,
    &.locked &__body > &__field {
        pointer-events: none;
        opacity: 0.75;
        user-select: none;
    }
    
    // Header
    &__header {
        background-color: $secondary;
        padding: 1rem 0 0 1rem;
        color: $secondary-text;
        height: 4rem;
        flex-shrink: 0;
        flex-basis: 4rem;

        @include background('secondary');

        &__title {
            margin: 0px;
            display: inline-block;
            line-height: 2rem;
            height: 2rem;

            &__appendix {
                margin-left: 1rem;
                opacity: 0.5;
            }
        }

        &__icon {
            margin-right: 10px;
            line-height: 2rem;
            height: 2rem;
            font-size: 1.5rem;
            width: 2rem;
            display: inline-block;
            position: relative;
        }

        // Tab
        &__tab {
            padding: 0 2rem;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
            display: inline-block;
            height: 3rem;
            line-height: 3rem;
            text-transform: uppercase;
            font-weight: bold;
            border: 0;
            background-color: transparent;
            color: $secondary-text;
            background-color: $secondary-light;
            margin-right: 0.5rem;

            &:hover {
                color: $primary-text;
                background-color: $primary;
            }

            &.active {
                pointer-events: none;
                color: $standard-text;
                background-color: $standard-dark;
            }
        }
    }

    // Body
    &__body {
        padding: 1rem;
        flex-grow: 1;
        overflow: auto;
        position: relative;

        // Tab
        &__tab {
            &:not(.active) { 
                display: none;
            }
        }
    }

    // Footer
    &__footer {
        position: relative;
        z-index: 10;
        box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.2);
        flex-shrink: 0;
        padding: 1rem;
        height: 5rem;
        margin: 0px;
        border-width: 0px;
        border-top-width: 1px;
        border-radius: 0px;
        background-color: $standard-dark;
        border-top: 1px solid $standard-darker;
        color: $standard-text;

        // Message
        &__message {
            color: $standard-darkest;
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translateY(-50%);
            font-weight: bold;

            &:empty {
                display: none;
            }

            &:before {
                content: '\f05a';
                font-family: 'FontAwesome';
                margin-right: 0.5rem;
            }
        }

        // Buttons
        &__buttons {
            margin: 0 0 0 auto;
            float: right;
            display: flex;

            > .widget--button:not(:last-child) {
                margin-right: 1rem;
            }
        }

        // Error
        &__error {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 20;
            pointer-events: none;
            background-color: $warning;
            color: $warning-text;
            padding: 1rem;
            border-bottom-left-radius: 2px;
            line-height: 1.5rem;

            &__heading {
                font-weight: 700;
            }
        }
    }

    // Field container
    &__field {
        display: flex;
        padding: 1rem 0;
        position: relative;
        transition: background-color 0.5s ease, transform 0.5s ease;
        border-bottom: 1px solid $standard-darker;

        &:last-of-type {
            border-bottom: 0;
        }

        // Tablet mode
        @media($sm) {
            display: block;
        }

        // Collapsed & sorting mode
        .editor__field__value.collapsed &,
        .editor__field__value.sorting &,
        &.collapsed {
            height: 4rem;
            border-radius: 0.2rem;

            &:not(:first-of-type) {
                margin-top: 1rem !important;
            }

            &:last-of-type {
                margin-bottom: 0 !important;
            }

            .editor__field__sort-key {
                display: block;
            }

            .editor__field__key,
            .editor__field__value {
                display: none;
            }
        }


        // Vertical mode
        &.vertical {
            flex-direction: column;
        }

        &.vertical > &__key {
            flex-basis: 2rem;
        }

        &.vertical > &__value {
            margin-left: 1rem;
        }

        // Key
        &__key {
            flex-basis: 10rem;
            flex-shrink: 0;
            margin-right: 1rem;
            padding-top: 0.25rem;
            line-height: 1.5rem;

            // Following state
            &.following &__actions {
                position: fixed;
                top: 60px;
            }
            
            // Widgets inside key
            .widget:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            // Label
            &__label {
                // Tablet mode
                @media($sm) {
                    margin-bottom: 0.5rem;
                }
            }

            // Description
            &__description {
                margin-top: 0.5rem;
                color: $standard-darkest;
            
                // Tablet mode
                @media($sm) {
                    margin-bottom: 0.5rem;
                }
            }

            // Key actions
            &__actions {
                position: absolute;
                line-height: 2rem;

                &.hidden {
                    display: none;
                }
            }

            // Key action button
            &__action {
                border: 0px;
                line-height: 2rem;
                height: 2rem;
                display: block;
                margin-top: 0.5rem;
                background-color: transparent;
                color: $primary;
                text-transform: uppercase;
                font-weight: bold;
                text-align: left;
                transition: background-color 0.3s ease, color 0.3s ease;
                cursor: pointer;
                border-radius: 0.2rem;
                padding: 0 0.5rem 0 0.5rem;

                &:hover {
                    color: $primary-text;
                    background-color: $primary;
                }
                
                // Icon
                &:before {
                    font-family: 'FontAwesome';
                    display: inline-block;
                    line-height: 2rem;
                    height: 2rem;
                    width: 1rem;
                    text-align: center;
                }

                // Sort
                &--sort {
                    &:after {
                        content: 'Sort items'
                    }

                    &:before {
                        content: '\f0dc';
                    }

                    // Sorting state
                    &.sorting {
                        &:after {
                            content: 'Done sorting'
                        }

                        &:before {
                            content: '\f00c';
                        }
                    }
                }

                // Expand
                &--expand {
                    &:before {
                        content: '\f065';
                    }
                }
                
                // Collapse
                &--collapse {
                    &:before {
                        content: '\f066';
                    }
                }
            }
        }

        // Value
        &__value {
            flex-grow: 1;
            border: 0 dashed transparent;
            border-radius: 0.2rem;
            transition: border 0.5s ease, padding 0.5s ease;

            // Segmented
            &.segmented > .editor__field {
                border-bottom: 0;
                padding: 1rem;
                margin-bottom: 1rem;
                background-color: $standard;
                box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);

                &:last-child {
                    margin-bottom: 0;
                }
            }

            // Nested segmentation
            &.segmented .editor__field__value.segmented {
                padding: 1rem;
                background-color: $standard-dark;
                border-radius: 0.2rem;
                box-shadow: inset 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
            }

            // Collapsed mode
            &.collapsed {
                // Style the items inside
                .editor__field {
                    background-color: $standard;
                }
            }

            // Sorting mode
            &.sorting {
                padding: 1rem;
                border: 0.15rem dashed $standard-darker;
        
                // Hide the add button
                .editor__field__add {
                    display: none;
                }

                // Style the sort key
                .editor__field__sort-key {
                    color: $primary-text;
                }
                
                // Hide the action buttons
                .editor__field__action {
                    display: none;
                }

                // Style the items inside
                .editor__field {
                    background-color: $primary;
                    cursor: move;

                    // Dragging state
                    &.dragging {
                        background-color: transparent;
                        border: 2px dashed $primary;

                        .editor__field__sort-key {
                            color: $primary;
                        }
                    }

                    &__collapse,
                    &__remove {
                        display: none;
                    }
                }
            }

            // Flex mode
            &.flex {
                display: flex;

                .widget {
                    margin: 0 0.5rem 0.5rem 0;
                }
            }

            // Warning
            &__warning {
                background-color: $warning;
                color: $warning-text;
                font-weight: bold;
                line-height: 2rem;
                height: 2rem;
                display: inline-block;
                border-radius: 0.2rem;
                padding: 0 0.5rem;

                &:before {
                    font-family: 'FontAwesome';
                    content: '\f071';
                    margin-right: 0.5rem;
                }
            }
        }

        // Actions
        &__actions {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
        }

        &__action {
            background-color: transparent;
            line-height: 2rem;
            height: 2rem;
            width: 2rem;
            border: 0;
            display: block;
            cursor: pointer;
            z-index: 90;
            color: $primary;
            transition: color 0.3s ease, background-color 0.3s ease;
            border-radius: 0.2rem;

            &:hover {
                background-color: $primary;
                color: $primary-text;
            }

            // Icon
            &:after {
                font-family: 'FontAwesome';
            }

            // Collapse button
            &--collapse {
                &:after {
                    content: '\f2d1';
                }
            }

            .editor__field.collapsed > .editor__field__actions > &--collapse {
                &:after {
                    content: '\f2d0';
                }
            }

            // Remove button
            &--remove {
                &:after {
                    content: '\f00d';
                }
            }
        }

        // Sort key
        &__sort-key {
            background-color: transparent;
            font-weight: bold;
            border: 0;
            pointer-events: none;
            line-height: 2rem;
            height: 2rem;
            display: none;
            flex-grow: 1;
        }
            
        // Add button
        &__add {
            margin-top: 1rem;
            margin-left: auto;
        }
    }
}
