/**
 * The editor for Schemas
 */
.editor--schema {
    &__tabs {
        display: flex;
        background-color: $standard-darkest;
        padding: 1rem 0 0 1rem;
        height: 4rem;
        margin: 0 -1rem;
    }

    &__tab {
        padding: 0 2rem;
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
        display: inline-block;
        height: 3rem;
        line-height: 3rem;
        text-transform: uppercase;
        font-weight: bold;
        border: 0;
        background-color: $standard-darker;
        color: $standard-darkest;
        margin-right: 0.5rem;

        &:hover {
            color: $primary-text;
            background-color: $primary;
        }

        &.active {
            pointer-events: none;
            background-color: $standard-dark;
            color: $standard-text;
        }
    }

    &__parent-field-properties {
        .editor__field__value {
            display: flex;

            .widget {
                margin: 0 0.5rem 0.5rem 0;
            }
        }
    }
}
