/**
 * A Template editor
 */
.editor--template {
    .editor__body {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        height: 100%;
        position: relative;
        
        .CodeMirror {
            height: 100%;
            display: block;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    }
}
