/**
 * A standalone WYSIWYG editor
 */
.editor--wysiwyg {
    background-color: $standard;
    height: 100%;

    &__toolbar {
        margin: 0 !important;
        background-color: $standard-darkest;
        padding: 0.5rem;

        .widget--dropdown {
            max-width: 14rem;
            
            &__option {
                &:not([data-value="p"]) {
                    font-weight: bold;
                }
                
                &[data-value="h1"] { font-size: 2rem; line-height: 3rem; }
                &[data-value="h2"] { font-size: 1.5rem; line-height: 2.5rem; }
                &[data-value="h3"] { font-size: 1.17rem; line-height: 2.17rem; }
                &[data-value="h4"] { font-size: 1rem; }
                &[data-value="h5"] { font-size: 0.83rem; }
                &[data-value="h6"] { font-size: 0.67rem; }

                &::after {
                    font-size: 1rem;
                    line-height: inherit !important;
                }
            }
        }
    }

    &__editor {
        height: calc(100% - 2rem);
        overflow: auto;
        padding: 0 1rem;

        &:focus {
            outline: none;
        }

        a {
            cursor: text;
        }

        *[src] {
            max-width: 100%;
        }
    }
}
