.modal--media-browser {
    &__dialog {
        max-width: 100rem;
    }

    &__body {
        display: flex;
        padding: 0;
    }

    &__folders {
        padding: 1rem;
        border-right: 1px solid var(--color-default-300);
        flex-basis: 20rem;
        flex-shrink: 0;
    }

    &__folder {
        &__icon {
            margin-right: 0.75rem;
        }

        &__name {
            text-align: left;
            border: 0;
            background-color: transparent;
            padding: 0 0.5rem;
            line-height: var(--size-widget-small);
            border-radius: var(--border-radius-small);
            margin: 0;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;

            &:hover {
                background-color: var(--color-default-100);
            }
        }

        &__children {
            margin-left: 1rem;
        }
    }

    &__items {
        flex-grow: 1;
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &__search {
        flex-grow: 1;
    }

    &__item {
        flex-grow: 1;
        border: 0;
        padding: 0.5rem;
        cursor: pointer;
        background-color: transparent;
        margin: 0;
        min-width: 20rem;
        height: 20rem;
        position: relative;
        border: 1px solid transparent;

        &:hover {
            border-color: var(--color-action-500);
        }

        &__image,
        &__video,
        &__file {
            position: absolute;
            max-height: calc(100% - 1rem);
            max-width: calc(100% - 1rem);
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &__name {
            display: block;
            padding: 0 0.5rem;
            line-height: var(--size-widget-small);
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            width: calc(100% - 2rem);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: var(--color-default-100);
            color: var(--color-default-text);
            border-radius: var(--border-radius-small);
        }
        
        &:hover &__name {
            background-color: var(--color-action-500);
            color: var(--color-action-text);
        }
    }
}
