.modal--media-browser {
    &__dialog {
        max-width: 100rem;
    }

    &__body {
        display: flex;
        padding: 0;

        @include phone {
            display: block;
        }
    }

    &__folders {
        padding: var(--padding-medium);
        border-right: 1px solid var(--color-default-100);
        flex-basis: 20rem;
        flex-shrink: 0;
        background-color: var(--color-default);
        
        @include phone {
            border-right: none;
            border-bottom: 1px solid var(--color-default-100);
        }
    }
    
    &__preview {
        border-left: 1px solid var(--color-default-200);
        flex-basis: 20rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-default-100);
        
        @include phone {
            border-left: none;
            border-top: 1px solid var(--color-default-200);
        }
    }

    &__items {
        flex-grow: 1;
        padding: var(--padding-medium);
        min-height: 20rem;
        max-height: 70vh;
        overflow-y: auto;

        @include phone {
            max-height: 20rem;
        }
    }

    &__search {
        flex-grow: 0;
        width: auto !important;
    }

    &__item {
        border: 0;
        background-color: transparent;
        line-height: var(--size-widget-small);
        padding: 0 var(--padding-small);
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: var(--border-radius-small);
        display: block;
        width: 100%;
        text-align: left;

        &:not(:last-child) {
            margin-bottom: var(--padding-small);
        }

        .fa {
            margin-right: var(--padding-small);
        }

        &:hover {
            background-color: var(--color-default-100);
        }

        &.selected {
            background-color: var(--color-action-500);
            color: var(--color-action-text);
        }
    }
}
