.modal--upload-media {
    &__previews {
        margin: 0 auto 1rem auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;

        &:empty {
            display: none;
        }
    }

    &__preview {
        position: relative;
        height: 10rem;
        background-color: var(--color-default-200);
        border-radius: var(--border-radius-small);

        &__display {
            align-items: center;
            display: flex;
            height: 8rem;
            justify-content: center;
            left: 0;
            padding: 1rem;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &__source {
            display: block;
            font-size: 4rem;
            max-height: 100%;
            max-width: 100%;
        }

        &__name {
            bottom: 0;
            left: 0;
            line-height: 2rem;
            margin: 0;
            overflow: hidden;
            padding: 0 1rem;
            position: absolute;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
}
