@keyframes navbar-main__pane__item__spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}
/**
 * The navigation bar
 */
.navbar-main {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;

    // Tablet mode
    @media($sm) {
        flex-direction: column;
        width: 100%;
    }

    &.hide-tabs &__tabs {
        display: none;
    }

    // Toggle
    &__toggle {
        display: none;
        line-height: 0;
        height: 2rem;
        padding: 0;
        margin: 0;
        color: $secondary-text;
        background-color: $secondary;
        border: 0;
        flex-shrink: 0;
        position: relative;
        
        @include background('secondary');

        &:after {
            font-family: 'FontAwesome';
            content: '\f107';
            font-size: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .page--environment__space--nav.expanded &:after {
            content: '\f106';
        }

        // Tablet mode
        @media($sm) {
            display: block;
        }
    }

    // Tabs
    &__tabs {
        width: 6rem;
        flex-shrink: 0;
        height: 100%;
        position: relative;
        z-index: 10;
        background-color: $secondary;

        @include background('secondary');

        // Tablet mode
        @media($sm) {
            display: flex;
            width: 100%;
            height: 6rem;
            overflow-x: auto;
        }
        
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: $secondary;
            right: 0;
            top: 0;
        }
    }
    
    // Individual tab
    &__tab {
        background-color: transparent;
        height: 6rem;
        width: 6rem;
        min-width: 6rem;
        color: $secondary-text;
        padding: 1.5rem 0 1rem 0;
        margin: 0;
        border: none;
        clear: both;
        position: relative;
        display: block;
        z-index: 2;
        
        &.active {
            background-color: $primary;
            color: $primary-text;
        }

        &__icon {
            width: 100%;
            height: 2rem;
            text-align: center;
            line-height: 2rem;
            text-align: center;
            font-size: 1.5rem;
            display: block;
        }

        &__label {
            width: 100%;
            text-align: center;
            font-size: 0.8rem;
            line-height: 1.5rem;
        }
    }

    // Panes
    &__panes {
        transition: opacity 0.5s, width 0.5s;
        height: 100%;
        width: 24rem;
        flex-grow: 1;
        background-color: $standard-dark;
        position: relative;
        z-index: 5;
        border-right: 1px solid $secondary;

        // Tablet mode
        @media($sm) {
            border-right: 0;
            height: 0%;
            width: 100%;
        }
    }

    // Individual pane
    &__pane {
        display: none;
        height: 100%;

        &.active {
            display: flex;
            flex-direction: column;
        }
      
        // Filter/sort bar
        &__filter-sort-bar {
            margin: 0 !important;
            padding: 0.5rem;
            background-color: $secondary;

            // Tablet mode
            @media($sm) {
                display: none;
            }   
        }

        // Move buttons
        &__move-buttons {
            padding: 1rem;
            margin: 0 !important;
            flex-shrink: 0;
        }

        &:not(.select-dir) &__move-buttons {
            display: none !important;
        }

        // Select dir mode
        &.select-dir &__item.moving-item {
            pointer-events: none;
        }

        &.select-dir &__item:not([data-is-directory="true"]):not(.moving-item) {
            opacity: 0.5;
            pointer-events: none;
        }

        &.select-dir &__item[data-is-directory="true"]:not(.moving-item) &__item__content:hover:before {
            content: '';
            display: block;
            height: 4rem;
            width: 100%;
            background-color: $primary;
            position: absolute;
            left: 0;
            z-index: -1;
        }

        &.select-dir &__item[data-is-directory="true"]:not(.moving-item) > &__item__content:hover {
            &:after {
                opacity: 1;
                font-family: 'FontAwesome';
                content: '\f060';
                display: block;
                white-space: nowrap;
            }
        }

        &.select-dir &__item__insert-below {
            display: block;

            &:hover {
                height: 2rem;
                line-height: 2rem;
                text-align: right;

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    height: 2px;
                    background-color: $primary;
                    top: 50%;
                    margin-top: -1px;
                    left: 0;
                    width: 100%;
                }
                
                &:after {
                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                    opacity: 1;
                    background-color: $primary;
                    text-align: center;
                    color: $primary-text;
                    font-family: 'FontAwesome';
                    content: '\f060';
                    display: block;
                    white-space: nowrap;
                    position: absolute;
                    height: 2rem;
                    line-height: 2rem;
                    width: 3rem;
                    right: 0;
                    top: 0;
                } 
            } 
        }
        
        // Items
        &__items {
            margin: 0;
            width: inherit;
            border: none;
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
        }

        // Individual item
        &__item {
            position: relative;
            user-select: none;

            // Filter not matched
            &.filter-not-matched {
                opacity: 0.5;
                pointer-events: none;
            }   

            // Active state
            &.active > &__content {
                color: $primary-text;
                background-color: $primary;

                &:after {
                    color: $primary-text !important;
                    opacity: 0.5;
                }
            }

            &.active > &__content &__toggle-children,
            &.active > &__content &__context {
                color: $primary-text;
            }

            // Open state
            &.open > &__content > &__toggle-children:after {
                content: '\f0d7';
            }

            &.open > &__children {
                display: block;
            }

            // Closed state
            &:not(.open) > &__content > &__toggle-children:after {
                content: '\f0da';
            }
                
            &:not(.open) > &__children {
                display: none;
            }

            // Locked state
            &[data-locked="true"] > &__content:after {
                content: '\f023';
            }
            
            // Remote state
            &[data-remote="true"] > &__content:after {
                content: '\f14c';
            }

            // Loading state
            &.loading > &__content:after {
                content: '\f1ce';
                color: $primary;
                animation: navbar-main__pane__item__spinner 1s linear infinite;
                opacity: 1;
                top: 50%;
                right: -0.5rem;
                position: absolute;
                display: block;
                height: 2rem;
                line-height: 2rem;
                width: 2rem;
                text-align: center;
            }
            
            // Insert below placeholder
            &__insert-below {
                position: absolute;
                height: 0.5rem;
                width: calc(100% - 1rem);
                bottom: 0;
                z-index: 20;
                background-color: transparent;
                cursor: pointer;
                display: none;
                transform: translateY(50%);
            }                         

            // Content
            &__content {
                user-select: none;
                color: $standard-text;
                display: flex;
                border-radius: 0;
                border: none;
                margin: 0;
                height: 4rem;
                line-height: 4rem;
                padding: 0;
                clear: both;
                cursor: pointer;
                position: relative;

                &, &:focus, &:hover, &:active {
                    text-decoration: none;
                }

                &:hover {
                    background-color: $standard-darker;
                }

                &:after {
                    font-family: 'FontAwesome';
                    opacity: 0.25;
                    flex-shrink: 0;
                    text-align: center;
                    line-height: 4rem;
                    display: block;
                    width: 2rem;
                }
            }
            
            // Label
            &__label {
                position: relative;
                white-space: nowrap;
                user-select: none;
                overflow-x: hidden;
                text-overflow: ellipsis;
                flex-grow: 1;
            }

            // Toggle children & context buttons
            &__toggle-children,
            &__context {
                height: 100%;
                width: 2rem;
                flex-shrink: 0;
                padding: 0;
                background-color: transparent;
                border: none;

                &:focus {
                    outline: none;
                }

                &:after {
                    font-family: 'FontAwesome';
                }
            }   

            // Icon
            &__icon {
                height: 4rem;
                width: 3rem;
                text-align: center;
                line-height: 4rem;
                display: block;
                flex-shrink: 0;
            }

            // Children
            &__children & {
                padding-left: 1rem;
            }
        }
    }
}
