@import '~sass-material-colors';

$lightest-grey: #f1f1f1;
$lighter-grey: #ddd;
$light-grey: #cccccc;
$grey: #999;
$dark-grey: #444;
$darker-grey: #333;
$darkest-grey: #222;

$white: #ffffff;

/* Primary */
$primary: #e70d3b;
$primary-light: lighten($primary, 20);

$primary-text: #ffffff;

/* Secondary */
$secondary: #21303b; 
$secondary-light: lighten($secondary, 4);
$secondary-lighter: lighten($secondary, 6);
$secondary-lightest: lighten($secondary, 12);
$secondary-dark: darken($secondary, 10);
$secondary-darker: darken($secondary, 20);

$secondary-text: #ffffff;

/* Warning */
$warning: #FFB300;

$warning-text: darken($warning, 30);

/* Success */
$success: $primary;

$success-text: $primary-text;

/* Standard */
$standard: #ffffff;
$standard-dark: #eeeeee;
$standard-darker: #999999;

$standard-text: #333333;

/* Fancy backgrounds */
@mixin background($variant, $top: 0px) {
    background-image: url('/img/bg-#{$variant}.jpg');
    background-attachment: fixed;
    background-position: 0px $top;
}
