// About logo
img.logo {
    width: 30px;
    height: 30px;

    &.md {
        width: 60px;
        height: 60px;
    }

    &.lg {
        width: 120px;
        height: 120px;
    }
}


// Main container
.cms-container {
    display: flex;
    height: 100%;
    transition: opacity 0.5s ease;
    opacity: 1;
    position: relative;
    z-index: 2;
 
    &.media-picker-mode {
        .navspace .navbar-main .tab-buttons,
        .menuspace,
        .workspace .editor .editor-header { 
            display: none;
        }
    }

    &.faded {
        pointer-events: none;
        opacity: 0;

        & + .spinner-obscure {
            opacity: 1;
        }
    }
    
    &.fullscreen {
        .navspace {
            width: 0px;
            flex-basis: 0px;
        }
    }

    .navspace {
        width: 500px;
        flex-basis: 500px;
        flex-shrink: 0;
        height: 100%;
        transition: width 0.5s, flex-basis 0.5s;
        
        @media($md) {
            width: 400px;
            flex-basis: 400px;
        }

        @media($sm) {
            overflow-x: hidden;

            &:not(.expanded) {
                width: 60px;
                flex-basis: 60px;

                .navbar-main {
                    .tab-panes {
                        display: none;
                    }
                }
            }
        }
    }
    
    .menuspace {
        position: absolute;
        right: 0px;
        top: 10px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        padding: 8px;
        flex-basis: 100%;
        flex-grow: 1;
        z-index: 50;
        background-color: $primary;
        color: $primary-text;

        @extend .raised;
    }

    .workspace {
        flex-grow: 1;
        height: 100%;

        &.presentation {
            position: relative;

            &.presentation-center {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .dashboard-container {
                    height: auto;
                }
            }

            &:before {
                pointer-events: none;
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 80%;
                height: 100%;
                opacity: 0.10;
                background-image: url('/svg/logo_white.svg');
                background-repeat: no-repeat;
                background-size: auto 200%;
                background-position: 0% 50%;
            }
            
            a:not(.btn) {
                color: $primary;
                font-weight: 700;

                &:hover {
                    color: $primary-light;
                }
            }

            .dashboard-container {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        
        .dashboard-container {
            padding: 15px 30px;
            height: 100%;
            overflow-y: auto;
        }
    }
}
