.navspace {
    .navbar-main {
        display: flex;
        height: 100%;
        width: 100%;
        position: relative;

        .tab-panes, .tab-buttons {
            transition: opacity 0.5s, width 0.5s;
            overflow-x: hidden;
        }
        
        .tab-buttons {
            width: 160px;
            flex-shrink: 0;
            height: 100%;
            position: relative;
            z-index: 10;
            background-color: $secondary;

            @include background('secondary');

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 100%;
                background-color: $secondary;
                right: 0px;
                top: 0px;
            }

            @media($md) {
                width: 60px;
            }

            button, a {
                background-color: transparent;
                width: 100%;
                height: 60px;
                color: $secondary-text;
                padding: 0px;
                margin: 0px;
                border: none;
                border-radius: 0px;
                clear: both;
                position: relative;
                display: block;
                z-index: 2;

                &[data-route="about"] {
                    font-weight: bold;
                }

                &.active {
                    background-color: $primary;
                    color: $primary-text;

                    .pane-text {
                        .pane-label {
                            font-weight: 700;
                        }
                    }
                }
                
                &:hover {
                    .pane-text {
                        .pane-label {
                            font-weight: 700;
                        }
                    }
                }

                .pane-icon {
                    width: 60px;
                    height: 60px;
                    float: left;
                    text-align: center;

                    .logo {
                        margin-top: 15px;
                    }

                    .fa {
                        margin: 0px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        font-size: 20px;
                        width: 60px;
                        display: block;
                    }
                }

                .pane-text {
                    height: 60px;
                    display: flex;
                    float: left;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: left;

                    @media($md) {
                        display: none;
                    }

                    .pane-label, .pane-sublabel {
                        display: block;
                        width: 100%;
                    }

                    .pane-sublabel {
                        line-height: 10px;
                        height: 10px;
                        opacity: 0.5;
                        font-size: 10px;
                    }
                }
            }
        }

        .tab-panes {
            height: 100%;
            flex-grow: 1;
            background-color: $standard-dark;
            position: relative;
            z-index: 5;
            box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.2);
            border-right: 1px solid $standard-darker;

            .pane-container {
                display: none;
                height: 100%;

                &.active {
                    display: flex;
                    flex-direction: column;
                }
                
                &.select-dir {
                    .pane-move-buttons {
                        .btn {
                            display: block;
                        }
                    }

                    .pane {
                        .pane-item-container {
                            &.active {
                                &:before {
                                    content: none;
                                }

                                &:not(:hover)>.pane-item {
                                    font-weight: 400;
                                }
                            }

                            &:not(.moving-item) {
                                &[data-is-directory="true"] >.pane-item:hover,
                                .pane-item-insert-below:hover {
                                    &:after {
                                        font-family: inherit;
                                        opacity: 1;
                                        font-weight: bold;
                                        color: $primary-text;
                                        content: "MOVE HERE";
                                        display: block;
                                        white-space: nowrap;
                                    }
                                }

                                &[data-is-directory="true"] {
                                    >.pane-item:hover {
                                        background-color: $primary;
                                        color: $primary-text;
                                    }
                                }
                                
                                .pane-item-insert-below {
                                    display: block;
                            
                                    &:hover {
                                        background-color: $primary;
                                        height: 30px;
                                        line-height: 30px;
                                        text-align: right;
                                        padding-right: 15px;
                                    }
                                }
                            }

                            &:not([data-is-directory="true"]):not(.moving-item) {
                                >.pane-item {
                                    pointer-events: none;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
                
                .pane-toolbar {
                    border-bottom: 1px solid $standard-darker;
                    display: flex;
                    padding: 10px 5px;
                    height: 61px;

                    >* {
                        margin: 5px;
                        flex-grow: 1;
                        max-width: 50%;
                    }

                    label {
                        text-transform: uppercase;
                        color: $standard-dark;
                        font-size: 10px;
                        margin: 0px;
                        padding: 0px;
                    }

                    select, button {
                        width: 100%;
                        max-width: 155px;
                        display: block;
                        background-color: $primary;     
                        border: 0px;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }

                .pane-move-buttons {
                    flex-shrink: 0;

                    .btn {
                        margin: 10px;
                        border: 2px dashed $standard-darker;
                        height: 40px;
                        padding: 0px;
                        background-color: transparent;
                        width: calc(100% - 20px);
                        text-align: center;
                        font-weight: 700;
                        color: $standard-darker;
                        display: none;

                        &:hover {
                            border-color: $primary;
                            color: $primary;
                        }
                    }
                }                

                .pane {
                    margin: 0px;
                    width: 100%;
                    border: none;
                    overflow-y: auto;
                    overflow-x: hidden;
                    transition: padding-top 0.5s ease;

                    .pane-item-container {
                        position: relative;

                        &.active, &.moving-item {
                            &:before {
                                content: '';
                                display: block;
                                height: 60px;
                                width: 5px;
                                background-color: $primary;
                                position: absolute;
                                left: 0px;
                            }

                            >.pane-item {
                                font-weight: 700;
                            }
                        }

                        &.open {
                            >.pane-item {
                                .btn-children-toggle {
                                    .fa-caret-right {
                                        display: none;
                                    }
                                }
                            }

                            >.children {
                                display: block;
                            }
                        }

                        &:not(.open) {
                            >.pane-item {
                                .btn-children-toggle {
                                    .fa-caret-down {
                                        display: none;
                                    }
                                }
                            }
                            
                            >.children {
                                display: none;
                            }
                        }

                        // Locked icon
                        &[data-locked="true"] {
                            >.pane-item {
                                &:after {
                                    content: '\f023';
                                }
                            }
                        }
                        
                        // Remote icon
                        &[data-remote="true"] {
                            >.pane-item {
                                &:after {
                                    content: '\f14c';
                                }
                            }
                        }

                        // Loading icon
                        &.loading {
                            >.pane-item {
                                &:after {
                                    content: '\f1ce';
                                    color: $primary;
                                    animation: spinner-no-offset 1s linear infinite;
                                    opacity: 1;
                                }
                            }
                        }
                        
                        .pane-item-insert-below {
                            position: absolute;
                            height: 6px;
                            width: 100%;
                            bottom: 0px;
                            z-index: 20;
                            background-color: transparent;
                            cursor: pointer;
                            display: none;
                            transform: translateY(50%);
                        }                         

                        .pane-item {
                            color: $standard-text;
                            display: flex;
                            border-radius: 0px;
                            border: none;
                            margin: 0px;
                            height: 60px;
                            padding: 0px 15px;
                            clear: both;
                            cursor: pointer;
                            position: relative;

                            &, &:focus, &:hover, &:active {
                                text-decoration: none;
                            }

                            &:hover {
                                .pane-item-label {
                                    font-weight: 700;
                                }
                            }

                            &:after {
                                font-family: 'FontAwesome';
                                opacity: 0.25;
                                margin-left: 10px;
                                line-height: 60px;
                            }

                            .pane-item-label {
                                position: relative;
                                white-space: nowrap;
                                overflow-x: hidden;
                                text-overflow: ellipsis;
                                flex-grow: 1;
                            }

                            .btn-children-toggle {
                                height: 100%;
                                width: 32px;
                                padding: 0px;
                                background-color: transparent;
                                border: none;

                                .fa {
                                    margin: 0px;
                                    display: block;
                                    width: 100%;
                                }
                            }   

                            span {
                                height: 60px;
                                line-height: 60px;
                                display: block;
                                float: left;

                                &.fa {
                                    margin-right: 15px;
                                }
                            }
                        }

                        .children {
                            .pane-item-container {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
