$lg: 'min-width: 1400px';
$md: 'max-width: 1399px';
$sm: 'max-width: 991px';
$xs: 'max-width: 767px';

// Helpers
@import '_helpers';

@import '_colors';
@import '_typography';
@import '_util';
@import '_main';
@import '_main-menu';
@import '_welcome';
@import '_dashboard';
@import '_navbar-main';
@import '_settings';
@import '_login';

// Editors
@import 'editors/_general';
@import 'editors/_media-viewer';
@import 'editors/_content-editor';
@import 'editors/_schema-editor';
@import 'editors/_form-editor';
@import 'editors/_json-editor';

// Fields
@import 'fields/_struct-editor';
@import 'fields/_string-editor';
@import 'fields/_date-editor';
@import 'fields/_array-editor';
@import 'fields/_media-reference-editor';
@import 'fields/_rich-text-editor';
@import 'fields/_tags-editor';
@import 'fields/_content-reference-editor';

// Modals
@import 'modals/_general';
@import 'modals/_icon-picker';
@import 'modals/_settings-modal';
@import 'modals/_error-modal';
@import 'modals/_media-browser';
@import 'modals/_iframe-modal';
@import 'modals/_upload-media';
@import 'modals/_user-editor';

// Widgets
@import 'widgets/_dropdown';
@import 'widgets/_chips';
@import 'widgets/_thumbnails';
@import 'widgets/_tabs';
@import 'widgets/_panels';
@import 'widgets/_buttons';
@import 'widgets/_input';
@import 'widgets/_switches';
@import 'widgets/_spinner';
@import 'widgets/_carousel';
