$lg: 'min-width: 1400px';
$md: 'max-width: 1399px';
$sm: 'max-width: 991px';
$xs: 'max-width: 767px';

// Helpers
@import '_helpers';

@import '_colors';
@import '_theme';
@import '_main';
@import '_main-menu';
@import '_welcome';
@import '_dashboard';
@import '_icon-picker';
@import '_select-views';
@import '_json-editor';
@import '_content-editor';
@import '_media-browser';
@import '_schema-editor';
@import '_form-editor';
@import '_user-editor';
@import '_navbar-main';
@import '_media-viewer';
@import '_settings';

// Widgets
@import 'widgets/_dropdown';
@import 'widgets/_tabs';
@import 'widgets/_buttons';
@import 'widgets/_input';
@import 'widgets/_spinner';
@import 'widgets/_carousel';
