:root {
    /* Font sizes */
    --font-size-desktop: 14px;
    --font-size-laptop: 13px;
    --font-size-tablet: 12px;
    --font-size-phone: 12px;

    /* Colour */
    --color-action-300: #83a598;
    --color-action-500: #458588;
    --color-action-text: #ebdbb2;
    
    --color-decor-200: #1d2021;
    --color-decor-300: #282828;
    --color-decor-400: #3c3836;
    --color-decor-500: #504945;
    --color-decor-600: #665c54;
    --color-decor-700: #7c6f64;
    --color-decor-800: #928374;
    --color-decor-text: #ebdbb2;

    --color-warn-500: #FFB300;
    --color-warn-300: #FFB300;
    --color-warn-text: #664800;

    --color-default: #f9f5d7;
    --color-default-100: #fbf1c7;
    --color-default-200: #ebdbb2;
    --color-default-300: #d5c4a1;
    --color-default-400: #bdae93;
    --color-default-text: #3c3836;

    /* Border radius */
    --border-radius-small: 0.4rem;
    --border-radius-medium: 1rem;
    --border-radius-large: 2rem;

    /* Widget size */
    --size-widget-small: 2rem;
    --size-widget-medium: 3rem;
    --size-widget-large: 4rem;

    /* Padding */
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;

    /* Box shadow */
    --box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);

    /* Panels */
    --width-panels: 30rem;

    /* Fields */
    --width-field-key: 10rem;
    --max-width-field-value: 30rem;

    /* Rich text editor */
    --height-rich-text-editor: 30rem;
}
