/**
 * The dashboard page
 */
.page--dashboard {
    // Header
    &__header {
        background-color: $secondary;
        padding: 1rem 0 0 5rem;
        color: $secondary-text;
        height: 4rem;
        display: flex;

        @include background('secondary');

        // Logo
        &__logo {
            position: absolute;
            left: 1rem;
            top: 0.5rem;

            &__image {
                height: 3rem;
                width: 3rem;
            }
        }

        // Actions
        &__actions {
            display: flex;
            padding: 0.5rem 0;
            margin-left: auto;

            .widget {
                margin-right: 0.5rem;
            }
        }
            
        // Tab
        &__tab {
            text-decoration: none;
            padding: 0 2rem;
            border-top-left-radius: 0.2rem;
            border-top-right-radius: 0.2rem;
            display: inline-block;
            height: 3rem;
            line-height: 3rem;
            text-transform: uppercase;
            font-weight: bold;
            border: 0;
            background-color: transparent;
            color: $secondary-text;
            background-color: $secondary-light;
            margin-right: 0.5rem;

            &:hover {
                color: $primary-text;
                background-color: $primary;
                text-decoration: none;
            }

            &.active {
                pointer-events: none;
                color: $standard-text;
                background-color: $standard-dark;
            }
        }
    }

    // Body
    &__body {
        width: 100%;
        padding-top: 4rem;
        height: calc(100% - 4rem);
        overflow-y: auto;
        margin: 0;

        &__container {
            max-width: 60rem;
            margin: 0 auto;
        }
    }

    // Users
    &__users {
        &__list {
            &__user {
                margin-bottom: 1rem;
            }
        }
    }

    // Projects
    &__projects {
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -0.5rem;
        }

        &__add {
            margin-top: 1rem;
        }
    }

    // Server
    &__server {
        &__info {
            max-width: 40rem;
            margin: 0 auto;
            padding: 1rem;
            background-color: $standard;
            box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1); 
        }
    }

    // Frontend test
    &__frontend-test {
        &__check {
            position: relative;
            line-height: 2rem;
            padding-bottom: 0.5rem;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
                border-bottom: 1px solid $standard-darker;

            }

            ul {
                border-top: 1px solid $standard-darker;
                padding-top: 0.5rem;
                margin-top: 0.5rem;
            }

            &__checkbox {
                position: absolute !important;
                top: 0;
                right: 0;
            }
        }
    }
}
