/**
 * Environment page style
 */
.page--environment {
    // Media picker mode
    &.media-picker {
        .page--environment__space--nav .navbar-main .tab-buttons,
        .page--environment__space--menu,
        .page--environment__space--editor .editor__header { 
            display: none;
        }
    }
    
    &__spaces {
        display: flex;
        height: 100%;
        transition: opacity 0.5s ease;
        opacity: 1;
        position: relative;
        z-index: 2;
    }

    &__space {
        position: relative;

        &--menu {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            padding: 0.5rem;
            flex-basis: 100%;
            flex-grow: 1;
            z-index: 50;
        }

        &--nav {
            width: 30rem;
            flex-basis: 30rem;
            flex-shrink: 0;
            height: 100%;
            transition: width 0.5s, flex-basis 0.5s;
            
            @media($sm) {
                overflow-x: hidden;
            }
        }

        &--editor {
            flex-grow: 1;
            height: 100%;
            display: flex;
            align-items: center;

            &__text {
                width: 100%;
                max-width: calc(100% - 7rem);
                max-height: calc(100% - 4rem);
                overflow: auto;
                margin: 2rem;
                padding: 1rem;
                background-color: $standard;
                color: $standard-text;
                box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
            }
        }
    }
}
