/**
 * Environment page style
 */
.page--environment {
    // Media picker mode
    &.media-picker {
        .navbar-main__tabs,
        .page--environment__space--menu,
        .page--environment__space--editor .editor__header { 
            display: none;
        }
    }
   
    // Demo reset button
    &__demo__reset {
        position: fixed !important;
        z-index: 9999;
        bottom: 1rem;
        left: 1rem;
    }

    // Spaces
    &__spaces {
        display: flex;
        height: 100%;
        transition: opacity 0.5s ease;
        opacity: 1;
        position: relative;
        z-index: 2;

        // Tablet mode
        @media($sm) {
            flex-direction: column;
        }
    }

    // Space
    &__space {
        position: relative;

        // Menu
        &--menu {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
            padding: 0.5rem;
            flex-basis: 100%;
            flex-grow: 1;
            z-index: 50;
        }

        // Navigation
        &--nav {
            width: 30rem;
            flex-basis: 30rem;
            flex-shrink: 0;
            height: 100%;
            transition: width 0.5s, flex-basis 0.5s;
           
            // Mobile mode
            @media($sm) {
                overflow: hidden;
                width: 100%;
                height: 80vh;

                &:not(.expanded) {
                    flex-basis: 8rem;
                    height: 8rem;
                }
            }
        }

        // Editor
        &--editor {
            flex-grow: 1;
            height: 100%;

            // Text presentation
            &__text {
                width: 100%;
                max-width: calc(100% - 7rem);
                max-height: calc(100% - 4rem);
                margin: 10vh 2rem 2rem 4rem;
                padding: 1rem;
                background-color: $standard;
                color: $standard-text;
                box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
                position: relative;

                // With an arrow pointing towards the pane
                &:before {
                    content: '';
                    display: block;
                    width: 0; 
                    height: 0; 
                    border-top: 2rem solid transparent;
                    border-bottom: 2rem solid transparent; 
                    border-right: 2rem solid $standard; 
                    position: absolute;
                    right: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
