.page--error {
    background-color: $secondary;
    color: $secondary-text;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include background('secondary');

    .widget:not(:last-child) {
        margin-bottom: 4rem;
    }
    
    &__logo {
        max-width: 10rem;
        margin: 0 auto;
    }
}
