.page--login {
    background-color: $secondary;
    height: 100%;

    @include background('secondary');
    
    &__login {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 374px;
        transform: translate(-50%, -50%);
        padding: 40px;
        color: $secondary-text;
        background-color: transparent;
        text-align: center;

        &__heading {
            margin-bottom: 2rem;

            h2 {
                margin-top: 0px;
            }
        }

        &__body {
            .widget {
                margin-bottom: 1rem;
            }
        }
    }
}
