html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="The Putaitu CMS")
        
        link(href='/lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')

        title HashBrown CMS
    body
        .cms-container.faded
            .navspace
            .workspace
        
        .spinner-obscure
            .spinner-container.inline
                img.spinner(src='/svg/logo.svg')
                span.spinner-text
                    | HashBrown

        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/html5sortable/html5sortable.min.js')
        script(src='/lib/bootstrap/js/bootstrap.min.js')
        script(src='/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js')
        script(src='/js/client.js')
        
        script.
            ProjectHelper.currentProject = '#{currentProject}';
            ProjectHelper.currentEnvironment = '#{currentEnvironment}';
        
