html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="The pluggable CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')
        
        link(href='/favicon.png?v=2', rel='icon', type='image/png')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/lib/normalize/normalize.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')
        link(href='/css/plugins.css', rel='stylesheet')
        link(href='/lib/codemirror/lib/codemirror.css', rel='stylesheet')

        title #{currentProject} - HashBrown

    body.page.page--environment
        .page--environment__spaces
            .page--environment__space.page--environment__space--menu
            .page--environment__space.page--environment__space--nav
            .page--environment__space.page--environment__space--editor
        
        .widget.widget--spinner
            .widget--spinner__inner
                img.widget--spinner__image(src='/svg/logo_pink.svg')
                .widget--spinner__messages

        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/ckeditor/ckeditor.js')
        script(src='/lib/codemirror/lib/codemirror.js')
        script(src='/lib/codemirror/mode/javascript/javascript.js')
        script(src='/lib/codemirror/mode/markdown/markdown.js')
        script(src='/lib/codemirror/mode/xml/xml.js')
        script(src='/lib/crisp-ui/crisp-ui.js')
        script(src='/js/client.js')
        script(src='/js/plugins.js')
        
        script.
            HashBrown.Helpers.ProjectHelper.currentProject = '#{currentProject}';
            HashBrown.Helpers.ProjectHelper.currentEnvironment = '#{currentEnvironment}';
        
