html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="A free and open-source headless CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')
        
        link(href='/favicon.png?v=2', rel='icon', type='image/png')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')
        
        title Error - HashBrown CMS
    body.page.page--error
        img.page--error__logo(src='/svg/logo_pink.svg')
        h2.page--error_title Error
        
        .widget.widget--message.warning.large
            | #{message || 'An unspecified error occurred'}

        a.widget.widget--button.tall(href='/')
            | Go to dashboard
