html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="The pluggable CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')
        
        link(href='/favicon.png?v=2', rel='icon', type='image/png')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')
        
        title HashBrown CMS
    body.page.page--login
        if(message)
            .widget.widget--message.fixed.fixed--top.warning
                | #{message}


        form.page--login__login(data-first-time=(firstTime ? 'true': '' ), data-invite-token=(invitedUser ? invitedUser.inviteToken : ''))
            .page--login__login__heading
                img.page--login__logo(src='/svg/logo_pink.svg')
                h2 HashBrown
            .page--login__login__body
                    if(invitedUser)
                        .widget.widget--message.expanded.secondary
                            | Activate the account for #{invitedUser.email}
                        input(type='text', id='full-name', class='widget widget--input text tall expanded', placeholder='Full name (optional)')
                    if(firstTime)
                        .widget.widget--message.expanded.secondary
                            | Please create your first admin account
                    input.widget.widget--input.tall.expanded.text(type='text', id='username', placeholder='Username')
                    input.widget.widget--input.tall.expanded.text(type='password', id='password', placeholder='Password')
                    input.widget.widget--button.expanded(type='submit', value=(invitedUser || firstTime ? 'Create' : 'Login'))
    
        script(src='/lib/jquery/jquery.min.js')
        script(src='/js/login.js')
