html
    head
    body
        .form
            div
                label Username:
                input(type='text', name='username')
            div
                label Password:
                input(type='password', name='password')
            div
                button
                    | Log In
    
        script(src='/lib/jquery/jquery.min.js')
        script(src='/js/login.js')
