h1 Login
ul
    li Logging in
    li Upon first time setup, a user can create an admin account
    li Upon invited, the user can create their account
        ul
            li If invite is expired, a message appears

h1 Dashboard
ul
    li Can log out

h2 Projects
ul
    li Admin related content appears
    li Can delete a project
    li Can create a new project

h3 Project
ul
    li Name is correct
    li Amount of users is correct
    li Amount of languages is correct

h4 Info
ul
    li Can change the project name

h4 Languages
ul
    li Can change languages

h4 Backups
ul
    li List of backups appear
    li Can upload a new backup
    li Can create a new backup
    li Can download an existing backup
    li Can restore an existing backup
    li Can delete an existing backup

h4 Migration
ul
    li All types are migrated correctly
    li Content is overwritten on target if intended

h4 Sync
ul
    li Can enable/disable sync
    li Can input API URL
    li Can generate API token
    li Can specify remote project

h4 Environments
ul
    li Amount is correct
    li Can add a new environment
    li Can delete an existing environment

h2 Users
ul
    li Can create a new user
        ul
            li Can create without inviting through email
            li Can invite through email
    li Can delete an existing user

h3 Edit user
ul
    li Can change username
    li Can change full name
    li Can change email
    li Can change password
    li Can set as admin
    li Can modify scopes for all projects

h2 Server
ul
    li Information is correct

h2 Log out
ul
    li Clears cookies
    li Removes user session from database

h2 Update
ul
    li Version check is correct

h1 Environment
h2 Main menu
ul
    li Can navigate to dashboard
    li Can change user settings (see dashboard > user checklist)
    li Can log out
    li Can invoke the "help" modal
        ul
            li Context sensitive information is displayed in the modal
    li Langage selector appears, if some than one language is selected
    li Can change language
        ul
            li Navbar items are updated
            li Content currently being edited is being updated

h2 Content
h3 Navbar
ul
    li Can create new Content
        ul
            li In the root
            li As a child of other Content, limited by Schema's allowed child Schemas
    li Can copy the Content id
    li Can pull Content from remote
    li Can push Content to remote
    li Can remove Content if it's local
    li Can expand Content to see child Content
    li Can move Content in between and nested under other nodes
        ul
            li The order is maintained upon reload
    li Can change publishing settings
        ul
            li Apply settings to children
            li Connections appear as options

h3 Editor
ul
    li Default tab for the Schema is routed to correctly
    li Cannot edit Content that is locked or remote
        ul
            li There is no "save &" button
            li Fields are half transparent and not interactable
    li Tabs are displaying correct fields as defined in the Schema
    li Can save edited Content
        ul
            li Spinner icon and "working" text appears while in progress
            li Can publish
            li Can preview
            li Can unpublish
            li All publishing operations are performed through the associated Connections
    li Publishing operations are hidden when no Connection is set in the Content's publishing settings
    li Fields from parent Schemas are visible in the editor

h3 Field types
ul
    li Array
        ul
            li Can change Schema of an item
            li Can collapse all items
            li Can expand all items
            li Can sort items
            li All items are saved in correct order and with correct Schemas
    li Date
        ul
            li Can define date with modal
            li Can delete date
    li Dropdown
        ul
            li Options are displaying
            li Can pick options
    li Language
        ul
            li Languages are displaying
            li Can pick a language
    li Media reference
        ul
            li Can pick Media object from the MediaBrowser
    li Content Schema Reference
        ul
            li Can pick ContentSchema
    li Resource Reference
        ul
            li Resource is being displayed by label (like name, title or id)
    li Rich Text
        ul
            li Value is stored in HTML form
            li Changing between HTML/Markdown and WYSIWYG doesn't trigger a change
            li Can insert Media from the MediaBrowser
    li String
        ul
            li Can change string
    li Struct
        ul
            li All correctly defined fields are displaying
            li If fields are defined incorrectly, an error message appears
    li Tags
        ul
            li Can remove tags
            li Can add tags
    li Content Reference
        ul
            li Can pick a Content node using the dropdown
    li Boolean
        ul
            li Can toggle the switch on/off
    li Url
        ul
            li Can change the URL
            li The editor is updated automatically upon changing the "title" field on a Page Schema
    li Number
        ul
            li The field is limited to numbers

h2 Media
h3 Navbar
ul
    li Can upload new Media
    li Can replace Media
    li Can move Media into new folders
    li Can copy the Media id
    li Can remove Media
    li Folder structure displays correctly
        ul
            li Expand/collapse toggle
            li Sorted alphabetically

h3 Browser
ul
    li All media is displayed in folders
    li Can upload new media

h3 Editor
ul
    li Can view SVG, image and video files

h2 Forms
h3 Navbar
ul
    li Can copy Form id
    li Can remove Form
    li Can pull from remote
    li Can push to remote

h3 Editor
ul
    li Can see amount of entries
    li Can clear entires
    li Can download entries as CSV
    li Can see timestamps on all entries
    li Can copy the generated POST URL
    li Can change the title
    li Can set the allowed origin
    li Can set redirect URL
    li Can toggle whether the redirect URL is appended
    li Can define inputs
        ul
            li Can set input name
            li Can set input type
            li Can toggle "required" attribute
            li Can toggle "check for duplicates"
            li Can define regex pattern
            li Test form updates as fields are updated

h3 Submissions
ul
    li Submissions are only accepted from the allowed origin
    li Submissions are timestamped
    li Submissions enter the database correctly
    li If a redirect is specified, it is carried out successfully upon submission
        ul
            li If the redirect is appended, it is done so as well
    li If "check for duplicates" is checked, no duplicates are allowed
    li If a regex pattern is defined, it is checked properly

h2 Connections
h3 Publishing
ul
    li Can publish Content with every Connection type
    li Can unpublish Content with every Connection type
    li Can preview Content with every Connection type
    li Can see and edit Media with every Connection type

h3 Navbar
ul
    li Can create new Connection
    li Can copy Connection id
    li Can remove Connection
    li Can push Connection to remote
    li Can pull Connection from remote

h3 Editor
ul
    li Can set as Media provider
    li Can edit title
    li Can edit URL
    li Can change type
        ul
            li The types are loaded from plugins
            li Upon changing the type, the plugin editor renders immediately
    li Can save changes

h2 Schemas
h3 Navbar
ul
    li Schemas are divided into "Content Base" and "Field Base"
    li Can copy Schema id
    li Can create new child Schema
    li Can pull Schema from remote
    li Can push Schema to remote
    li Can remove Schema

h3 Editor
ul
    li Can change name
    li Can change icon
    li Can change parent
        ul
            li Changes are reflected in the navbar immediately
    li Can change field editor
    li Can change config
    li Can save changes
