.btn {
    border-radius: 2px;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 34px;
    height: 34px;
    padding: 0px;

    &.btn-primary, &.btn-default, &.btn-danger, &.btn-success {
        min-width: 110px;
        padding-top: 0px;
        padding-bottom: 0px;
    } 

    &.btn-small {
        min-width: 0px;
        padding: 0px 1rem;
    }

    @include set-button-color('primary', $primary, $primary, $primary-text);
    @include set-button-color('secondary', $secondary, $secondary, $secondary-text);
    @include set-button-color('danger', $warning, $warning, $warning-text);
    @include set-button-color('success', $success, $success, $success-text);
    @include set-button-color('default', $standard, $standard-darker, $standard-text);

    &:active {
        box-shadow: none;
    }

    &.btn-primary {
        background-color: $primary;
        border-color: $primary;
    }

    &.btn-right {
        display: block;
        margin-left: auto;
    }
    
    &.btn-left {
        display: block;
        margin-right: auto;
    }

    &.btn-round {
        padding: 0px !important;
        width: 45px;
        height: 45px;
        min-width: auto;
        min-height: auto;
        line-height: 45px;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 100;

        .fa-plus {
            font-size: 14px;
        }
    }

    &.btn-raised {
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
        position: relative;

        &:active {
            top: 2px;
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
        } 
    }

    &.btn-embedded {
        background-color: transparent;
        border: 0px;
        color: $primary;

        &.btn-embedded-danger {
            color: $warning;
        }
    }
    
    &.btn-remove {
        background-color: transparent;
        border: 0px;
        color: material-color('red', '500');
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 6px;
    }

}

// Button group
.btn-group {
    display: flex;

    .btn {
        flex-grow: 0;

        &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
            border-radius: 2px;
        }
    }

    .btn-group-addon {
        min-width: 40px;
        padding: 6px;
    }
}

