/**
 * Bootstrap mods
 */
.navbar-right {
  margin-right: 0px; }

.form-control.form-control-static {
  background-color: #eee;
  box-shadow: none; }

.btn-toggle .glyphicon {
  visibility: hidden; }

.btn-toggle[data-checked="true"] .glyphicon {
  visibility: visible; }

.btn .glyphicon {
  line-height: 1.3em; }

.m-b-xs {
  margin-bottom: 10px; }

.m-b-sm {
  margin-bottom: 15px; }

.m-b-md {
  margin-bottom: 30px; }

.m-b-lg {
  margin-bottom: 60px; }

.p-b-xs {
  padding-bottom: 10px; }

.p-b-sm {
  padding-bottom: 15px; }

.p-b-md {
  padding-bottom: 30px; }

.p-b-lg {
  padding-bottom: 60px; }

.input-group.input-group-vertical {
  display: block; }
  .input-group.input-group-vertical .input-group-addon, .input-group.input-group-vertical .form-control {
    display: block;
    float: none; }
  .input-group.input-group-vertical .form-control {
    border-top-right-radius: 0px; }
    .input-group.input-group-vertical .form-control:last-child {
      border-bottom-left-radius: 5px; }
  .input-group.input-group-vertical .input-group-addon:first-child {
    border-bottom: 0 none;
    border-bottom-left-radius: 0;
    border-right: 1px solid #ccc;
    border-top-right-radius: 5px;
    display: block;
    width: 100%; }

.collapse.width {
  height: auto;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease; }

/**
 * Custom elements
 */
@keyframes spinner {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(0.75, 0.75); }
  100% {
    transform: scale(1, 1); } }

.page-spinner-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 20; }
  .page-spinner-container .spinner {
    display: block; }

.spinner-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 20; }
  .spinner-container .spinner {
    display: block; }

.spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0px 0px -16px;
  transform: scale(1, 1);
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%; }

.page-content .column .issue {
  cursor: pointer; }
  .page-content .column .issue:last-child {
    margin-bottom: 0px; }
  .page-content .column .issue.loading {
    position: relative; }
    .page-content .column .issue.loading .panel-spinner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(255, 255, 255, 0.75);
      z-index: 10; }
      .page-content .column .issue.loading .panel-spinner .spinner {
        display: block; }
  .page-content .column .issue .panel-heading {
    position: relative; }
    .page-content .column .issue .panel-heading img {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%; }

.page-content .issue-modal .modal-header p {
  margin: 0px; }

.page-content .issue-modal .modal-body .row {
  margin-top: 15px; }
  .page-content .issue-modal .modal-body .row:first-child {
    margin-top: 0px; }

.page-content .issue-modal .modal-body .input-group {
  margin-top: 15px; }
  .page-content .issue-modal .modal-body .input-group .input-group-addon {
    min-width: 120px;
    text-align: left; }
  .page-content .issue-modal .modal-body .input-group:first-child {
    margin-top: 0px; }

.page-content .issue-modal .modal-body textarea {
  resize: none;
  height: 300px; }

.page-content .issue-modal .labels {
  float: left;
  display: block;
  margin-top: 12px; }
  .page-content .issue-modal .labels .label {
    border: 1px solid #ccc; }
    .page-content .issue-modal .labels .label .label-text {
      padding: 0px 4px;
      font-size: 12px;
      color: #ccc;
      position: relative;
      top: 1px; }
    .page-content .issue-modal .labels .label .label-btn-remove {
      font-size: 12px;
      padding: 0px 4px;
      background-color: transparent;
      border: 0px;
      color: #ccc; }
