@import '../main';

.page-content {
    /**
     * Tree
     */
    .tree {
        margin-bottom: 15px;

        .nav-root {
            margin: 0px;
            padding: 0px;
        }

        >.panel-body {
            padding: 0px;
        }

        .tab-pane {
            position: relative;
            height: 0px;
            transition: height 0.5s ease;
            opacity: 0;
            display: block;
            
            &.active {
                opacity: 1;
                height: 300px;
                overflow-y: hidden;
                overflow-x: auto;
            }

            ul, li {
                padding: 0px;
                margin: 0px;
                list-style-type: none;
            }

            .folder-content {
                position: absolute;
                left: 0px;
                top: 0px;
                height: 300px;
                width: 28%;
                border-right: 1px solid #ddd;

                &.drag-over {
                    box-shadow: inset 0px 0px 10px #337ab7;
                }

                a {
                    display: block;
                    padding: 5px 15px;

                    .glyphicon {
                        margin-right: 15px;
                    }
                }
            }

            .folder, .file {
                height: 30px;
                
                >a {
                    color: #666;
                }
                
                &.active {
                    color: #fff;

                    &:after {
                        color: #fff;
                    }

                    >a {
                        color: #fff;
                    }
                }
            }

            .file {
                &.active {
                    background-color: #337ab7;
                }
            }

            .folder {
                position: relative;
               
                >a { 
                    &.drag-over {
                        box-shadow: inset 0px 0px 10px #337ab7;
                    }
                }

                &:after {
                    font-family: 'Glyphicons Halflings';
                    content: '\e080';
                    color: #ccc;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }
                
                &.active {
                    background-color: #666;
                    
                    >a { 
                        &.drag-over {
                            box-shadow: inset 0px 0px 10px #fff;
                        }
                    }

                    >.folder-content {
                        display: block;
                    }
                }

                @for $i from 1 through 100 {
                    $top: ($i - 1) * -30px;

                    &:nth-child(#{$i}) {
                        .folder-content {
                            top: $top;
                        }
                    }
                }

                .folder-content {
                    display: none;
                    left: 100%;
                    width: 100%;
                }
            }
        }
    }

    /**
     * Editor
     */
    .editor {
        position: relative;
        min-height: 200px;

        >.panel-heading {
            position: relative;

            .content-actions {
                float: right;
            }
        }

        .field-anchor {

        }

        .field-editor-container {
            width: 100%;
            margin-bottom: 15px;

            .field-editor-label {
                min-width: 180px;
                text-align: left;
                vertical-align: top;
                border-bottom: 0px;
                border-left: 0px;
                border-right: 0px;
                border-radius: 0px;
                border-color: #efefef;
                background-color: transparent;
                color: #777;
            }

            .field-editor {
                width: 100%;
                margin-bottom: 15px;

                .date-picker {
                    position: relative;
                    max-width: 280px;
                    
                    .form-control {
                        width: 33.33%;
                        float: left;
                    }

                    .date-picker-preview {
                        color: #777;
                        font-size: 12px;
                    }
                }

                .text-html-editor {
                    textarea {
                        height: 300px;
                    }
                }

                .checkbox-editor {
                    input {
                        width: 64px;
                    }
                }
            }
        }
    }
}
