@import '../main';

.page-content {
    .column {
        .issue {
            cursor: pointer;

            &:last-child {
                margin-bottom: 0px;
            }

            .panel-heading {
                position: relative;

                img {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    height: 100%;
                }
            }
        }
    }

    .issue-modal {
        .modal-body {
            .input-group {
                margin-top: 15px;

                .input-group-addon {
                    min-width: 120px;
                    text-align: left;
                }

                &:first-child {
                    margin-top: 0px;
                }
            }

            textarea {
                resize: none;
                height: 300px;
            }
        }

        .labels {
            float: left;
            display: block;
            margin-top: 12px;

            .label {
                .label-text {
                    padding: 0px 4px;
                    font-size: 12px;
                    color: #fff;
                    position: relative;
                    top: 1px;
                }

                .label-btn-remove {
                    font-size: 12px;
                    padding: 0px 4px;
                    background-color: transparent;
                    border: 0px;
                    color: #fff;
                }
            }
        }
    }
}
