body {
    height: 100%;
}

.container {
    height: 100%;
    max-width: 400px;
    position: relative;
}

.panel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.form-control {
    margin-top: 15px;
}

.form-control:first-child {
    margin-top: 0px;
}

form {
    margin-bottom: 0px;
}
