doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width initial-scale=1')
        meta(name='description', content="A free and open-source headless CMS")
        meta(name='robots', content='noindex, nofollow, noarchive, nosnippet')

        link(href='/favicon.png?v=2', rel='icon', type='image/png')
        link(href='/lib/normalize/normalize.css', rel='stylesheet')
        link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/client.css', rel='stylesheet')
        
        title HashBrown CMS

    body.page.page--dashboard
        .page--dashboard__header
            a.page--dashboard__header__logo(href='/')
                img.page--dashboard__header__logo__image(src="/svg/logo_pink.svg")
        
            a.page--dashboard__header__tab(href='frontend', class=(tab === 'frontend' ? 'active': '')) Frontend

            if(user.isAdmin)
                a.page--dashboard__header__tab(href='backend', class=(tab === 'backend' ? 'active': '')) Backend
                        
            .page--dashboard__header__actions
                if(user.isAdmin && tab === 'backend')
                    button.page--dashboard__backend-test__run.widget.widget--button.low='Run tests'

                if(tab === 'frontend')
                    button.page--dashboard__frontend-test__reset.widget.widget--button.low='Reset tests'

        .page--dashboard__body
            .page--dashboard__body__container
                if(tab === 'frontend')
                    .page--dashboard__frontend-test
                        include ui-checklist.pug

                if(user.isAdmin && tab === 'backend')
                    .page--dashboard__backend-test
                        pre.page--dashboard__backend-test__messages

        script(src='/js/browser-check.js')

        script(src='/lib/jquery/jquery.min.js')
        script(src='/lib/crisp-ui/crisp-ui.min.js')
        
        script(src='/js/common.js')
        script(src='/js/service.js')
        script(src='/js/entity.js')
        script(src='/js/utilities.js')
        
        script(src='/js/test.js')
