.btn-array-editor-sort-items {
    display: block;
    margin-top: 1em;

    .text-default {
        display: inline;
    }

    .text-sorting {
        display: none;
    }
}

.array-editor {
    min-width: 100%;

    .array-editor {
        .item.raised {
            padding: 0px 0px 30px 0px;
            box-shadow: none;
            border-bottom: 1px solid material-color('grey', '200');

            &:last-of-type {
                border-bottom: 0px;
            }
        }
    }

    &.sorting {
        .btn-add-item {
            display: none;
        }

        .items {
            border: 2px dashed material-color('grey', '400');
            padding: 30px;

            .item {
                height: 54px;
                overflow-y: hidden;
                position: relative;
                border: 0px;
                background-color: material-color('blue', '600');
                color: #fff;

                .schema-label {
                    display: block;
                    font-weight: 700;
                    line-height: 2em;
                }

                .field-editor, .item-schema-selector {
                    display: none;
                }

                .btn-remove {
                    display: none;
                }
            }
        }

        .btn-add {
            display: none;
        }
    }

    .items {
        padding-bottom: 30px;
        transition: padding 0.5s ease;
        
        .item {
            position: relative;
            margin-bottom: 30px;
            transition: background-color 0.5s ease, color 0.5s ease;

            &:last-of-type {
                margin-bottom: 0px;
            }

            .schema-label {
                display: none;
            }

            .kvp {
                .key {
                    padding: 0.5em 1em 0em 0em;
                    line-height: 1.25em;
                }
            }

            >.item-schema-selector {
                clear: both;
                display: flex;
                margin-bottom: 10px;
                width: 100%;

                .key {
                    width: 100px;
                    flex-shrink: 0;
                }

                .value {
                    flex-grow: 1;
                }
            }            

            >.btn-remove {
                position: absolute;
                right: 0px;
                top: 0px;
                height: 34px;
                width: 34px;
                padding: 0px !important;

                .fa {
                    color: material-color('red', '500');
                    line-height: 34px;
                }
            }
        }
    }

    .btn-add-item {
        float: right;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }
}
