.btn-array-editor-sort-items {
    display: block;
    margin-top: 1em;

    .text-default {
        display: inline;
    }

    .text-sorting {
        display: none;
    }
}

.array-editor {
    min-width: 100%;

    .array-editor {
        .item.raised {
            padding: 0px 0px 30px 0px;
            box-shadow: none;
            border-bottom: 1px solid material-color('grey', '200');

            &:last-of-type {
                border-bottom: 0px;
            }
        }
    }

    &.sorting {
        .btn-add-item {
            display: none;
        }

        .items {
            .item {
                overflow-y: hidden;
                height: 80px;
                position: relative;
                border: 0px;
                
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 30px;
                    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    z-index: 20;
                    pointer-events: none;
                }

                .btn-remove {
                    display: none;
                }
            }
        }

        .btn-add {
            display: none;
        }
    }

    .items {
        padding-top: 30px;
        padding-bottom: 30px;
        
        .item {
            position: relative;
            margin-bottom: 30px;
            margin-top: 30px;

            &:first-of-type {
                margin-top: 0px;
            }

            &:last-of-type {
                margin-bottom: 30px;
            }

            .kvp {
                .key {
                    padding: 1em 1em 0em 0em;
                    line-height: 1.25em;
                }
            }

            >.item-schema-selector {
                clear: both;
                display: flex;
                margin-bottom: 10px;
                width: 100%;

                .key {
                    width: 100px;
                    flex-shrink: 0;
                }

                .value {
                    flex-grow: 1;
                }
            }            

            >.btn-remove {
                position: absolute;
                right: 0px;
                top: 0px;
                height: 34px;
                width: 34px;
                padding: 0px !important;

                .fa {
                    color: material-color('red', '500');
                    line-height: 34px;
                }
            }
        }
    }

    .btn-add-item {
        float: right;

        &:after {
            content: '';
            clear: both;
            display: block;
        }
    }
}
