.media-reference-editor {
    width: 200px;
    display: block;
    position: relative;

    .thumbnail {
        position: relative;
        overflow: hidden;

        img, video {
            object-fit: cover;
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            max-width: 150%;
            max-height: 150%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
