.media-reference-editor {
    width: 200px;
}

.media-modal {
    .modal-dialog {
        width: calc(100% - 30px);
        max-width: 1040px;

        .thumbnail-container {
            display: flex;
            flex-wrap: wrap;
            overflow-y: auto;
            max-height: 550px;

            .thumbnail {
                min-width: 200px;
                width: auto;
                flex-grow: 1;
                margin: 1em;
            }
        }
    }
}
