.rich-text-editor {
    margin: 0px;
    min-width: 100%;
    max-width: 100px; // A hack to prevent CodeMirror from exceeding boundaries

    .cke {
        padding: 0px;
        background: none;
        border: 0px;
        
        .cke_inner {
            .cke_top, .cke_contents, .cke_bottom {
                background-image: none;
                border: 0px;
                box-shadow: none;
            }

            .cke_top {
                background-color: material-color('blue', '600');
            }

            .cke_bottom {
                background-color: material-color('grey', '800');

                .cke_path {
                    a {
                        color: material-color('grey', '300');
                        text-shadow: none;
                        cursor: pointer;

                        &:hover {
                            background: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }

    .panel-heading {
        padding: 5px;

        select, .btn, .dropdown {
            line-height: 1em;
            height: 26px;
            min-width: 0px;
            display: inline-block;
            color: #fff;
        }
    }

    .rte-output {
        h1, h2, h3, h4, h5, h6 {
            &:first-child {
                margin-top: 0px;
            }   
        }   

        img {
            max-width: 100px;
            max-height: 100px;
        }

        height: 300px;
        overflow-y: auto;
    }

    .panel-footer {
        background-color: material-color('grey', '900');        

        textarea {
            padding: 0px;
            color: material-color('grey', '200');        
            font-family: 'Roboto Mono';
            overflow: auto;
            display: block;
            border: 0px;
            resize: none;
            line-height: 1.25em;  
            height: 5em;
            resize: none;
            overflow: hidden;
        }
    }
}
