.list-item--project {
    padding: 1rem;
    position: relative;
    color: var(--color-default-text);
    background-color: var(--color-default);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-small);
    
    &.loading {
        @include spinner;
    }
    
    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
        
    &__info {
        flex-grow: 1;

        &__name {
            margin: 0;
        }

        &__icon {
            margin-right: 0.5rem;

            &:not(:first-child) {
                margin-left: 1rem;
            }
        }
    }   

    &__environment {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .widget--popup[role="item-menu"] {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
}
