.list-item--user {
    color: var(--standard-text);
    background-color: var(--standard);
    
    padding: 1rem;
    margin: 0.5rem;
    position: relative;
    flex-grow: 0;
    flex-basis: calc(33.33% - 1rem);
    width: calc(33.33% - 1rem);
    transform-origin: center;
    transition: transform 0.25s ease;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    
    @include tablet {
        flex-basis: calc(50% - 1rem);
        width: calc(50% - 1rem);
    }

    @include phone {
        flex-basis: 0;
        width: auto;
    }

    &__name {
        margin: 0;
    }

    &__type {
        margin-top: 0.5rem;

        &__icon {
            margin-right: 0.5rem;
        }   
    }

    .widget--popup {
        right: 0.5rem;
        top: 0.5rem;
    }
}
