.list-item--user {
    color: var(--color-default-text);
    background-color: var(--color-default);
    padding: 1rem;
    position: relative;
    transform-origin: center;
    transition: transform 0.25s ease;
    box-shadow: var(--box-shadow);
    
    &__name {
        margin: 0;
    }

    &__type {
        margin-top: 0.5rem;

        &__icon {
            margin-right: 0.5rem;
        }   
    }

    .widget--popup[role="item-menu"] {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
    }
}
