.nav-tabs {
    padding: 18px 0px 0px 15px;
    background-color: $secondary; 
    font-size: 14px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;

    li {
        &.active {
            a, a:hover, a:focus {
                color: $primary;
                border: 0px;
                background-color: transparent;
                border-bottom: 5px solid $primary;
            }
        }

        &:not(.active) {
            a {
                &, &:hover, &:focus {
                    color: $primary-text;
                    background-color: transparent;
                    border: 0px;
                }
            }
        }

        a {
            border-radius: 0px;
            margin-bottom: 1px;
        }
    }
}
